
@{
    ViewData["Title"] = "architectTC";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
    string currentActionName = ViewContext.RouteData.Values["action"].ToString();
    <span id="CurrentName" style="display:none;">@currentActionName</span>
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>आर्किटेक्ट्स का पंजीकरण</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <div class="title">

            <h3>आर्किटेक्ट्स/आर्किटेक्चर और डिजाइन सलाहकारों के पैनल के लिए रुचि की अभिव्यक्ति</h3>
        </div>

        <div class="term_box">

            <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                आर्किटेक्चरल प्लानिंग और डिजाइनिंग के लिए कॉन्सेप्चुअलाइजेशन स्टेज से लेकर कार्यों के विस्तृत वर्किंग ड्रॉइंग्स तक आर्किटेक्चरल प्लानिंग और डिजाइनिंग के लिए आर्किटेक्ट्स/आर्किटेक्चरल और डिजाइन कंसल्टेंट्स से मुहरबंद लिफाफे में प्रस्ताव आमंत्रित किए जाते हैं, जो आर्किटेक्चर के साथ-साथ बिल्डिंग कंस्ट्रक्शन आदि में लेटेस्ट ट्रेंड से परिचित हों। आर्किटेक्ट्स का पैनल निम्नलिखित तीन श्रेणियों में किया जाएगा:
            </p>


            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped css-serial">

                    <tbody>
                        <tr>
                            <td></td>
                            <td> वर्ग-A</td>
                            <td>बिना किसी सीमा के लागत वाले कार्य</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>वर्ग-B</td>
                            <td>25 करोड़ रुपये तक की लागत वाले कार्य</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>वर्ग-C</td>
                            <td>05 करोड़ रुपये तक की लागत वाले कार्य</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                कार्य के दायरे में वे सभी कार्य शामिल होंगे जो आमतौर पर वास्तुकारों द्वारा किए जाते हैं अर्थात साइट का दौरा/अध्ययन। प्रारंभिक वास्तुशिल्प ड्राइंग तैयार करना, वर्किंग ड्रॉइंग तैयार करना, स्ट्रक्चरल ड्रॉइंग तैयार करना, मात्राओं के बिल, प्रारंभिक और विस्तृत अनुमानों को तैयार करने सहित सभी सर्विस ड्रॉइंग्स।
            </p>
            <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                इच्छुक वास्तुविदों को इस अभिरुचि की अभिव्यक्ति के विरुद्ध हमारी वेबसाइट www.upprojects.org पर उपलब्ध निर्धारित आवेदन पत्र/प्रोफार्मा/(निर्देश) पर अपने प्रस्ताव/प्रस्ताव प्रस्तुत करने होंगे और किए गए कार्यों की सूची और सुरक्षा जमा के साथ अन्य विवरण के साथ अपना प्रोफाइल प्रस्तुत करना होगा। यूपी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड के पक्ष में गिरवी रखे राष्ट्रीयकृत बैंक / डाकघरों से डिमांड ड्राफ्ट / एफडीआर / टीडीआर / एनएससी के रूप में। लखनऊ, अधोहस्ताक्षरी के कार्यालय में 15.05.2015, दोपहर 3.00 बजे (पहले चरण के लिए) तक 3 साल के लिए वैध और यह एक ओपन एंडेड प्रक्रिया होगी। बिना जमानत राशि के प्रस्तावों पर विचार नहीं किया जाएगा। सुरक्षा जमा की राशि नीचे दी गई है:
            </p>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped css-serial">

                    <tbody>
                        <tr>
                            <td></td>
                            <td>वर्ग-A (बिना किसी सीमा के लागत वाले कार्य)</td>
                            <td>-Rs 2,00,000.00</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>वर्ग- B (25 करोड़ रुपये तक की लागत वाले कार्य)</td>
                            <td>-Rs 1,00,000.00</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>वर्ग-C (05 करोड़ रुपये तक की लागत वाले कार्य )</td>
                            <td>-Rs 50,000.00</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                प्रोसेसिंग फीस रु. 2000/- + 18% (जीएसटी राशि) केवल लखनऊ में देय यूपी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड के पक्ष में डिमांड ड्राफ्ट के रूप में प्रस्ताव के साथ जमा किया जाना चाहिए। असफल होने पर प्रस्ताव पर विचार नहीं किया जाएगा।
            </p>
            <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                ऊपर। प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड, बिना कोई कारण बताए किसी या सभी प्रस्तावों को स्वीकार या अस्वीकार करने का अधिकार सुरक्षित रखता है।
            </p>
            <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                प्रोफार्मा में प्रस्तुत विवरण के अनुसार प्रस्तावों की जांच की जाएगी और तदनुसार निर्धारित न्यूनतम मानदंडों को पूरा करने वाले वास्तुकारों को पैनलबद्ध करने का आदेश दिया जाएगा।
            </p>
            <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                रुचि की अभिव्यक्ति ईओआई-7/पीसीएल/जीएम(टीएंडसी)/आर्किटेक्ट्स/2013-14 के लिए निगम में पहले से ही पैनलबद्ध वास्तुकारों को फिर से आवेदन करने की आवश्यकता नहीं है। अन्य वास्तुकार जिनका पूर्व में पैनलबद्ध होना समाप्त हो गया है, उन्हें फिर से आवेदन करना होगा।
            </p>


        </div>
    </div>
</section>

<section class="bod_section">
    <div class="container">
        <div class="title">
            <h3>ई.ओ.आई.-9/पीसीएल/आर्किटेक्ट्स/2014-15 के विरुद्ध आवेदकों का निर्देश</h3>
        </div>
        <div class="term_box">
            <ul class="list-unstyled terms_list">
                <li>संलग्न प्रपत्रों में मांगी गई सभी जानकारी प्रपत्रों में संबंधित कॉलमों के सामने प्रस्तुत की जानी चाहिए।</li>
                <li>परामर्श फर्म जो वर्तमान में प्रतिष्ठित कॉर्पोरेट संस्थाओं, संस्थानों, स्थापना आदि के लिए काम कर रही हैं और जिनके पास वास्तुकला और डिजाइन परामर्श के क्षेत्र में न्यूनतम 3 वर्ष का अनुभव है, वे ही भाग ले सकती हैं। </li>
                <li>फर्म का मालिक/निदेशक भारतीय वास्तुकार संस्थान का सदस्य/वास्तुकला परिषद का सदस्य होना चाहिए।</li>
                <li>इच्छुक सलाहकारों को पैनल की विभिन्न श्रेणियों के लिए खंड -8 में दर्शाए गए मूल्य के कार्यों को सफलतापूर्वक पूरा करना चाहिए।</li>
                <li>वास्तुकारों/फर्मों के पास परियोजना को संभालने के लिए पर्याप्त तकनीकी सेटअप होना चाहिए।</li>
                <li>परामर्शदाताओं/फर्मों के पास पर्याप्त संगठनात्मक ढांचा होना चाहिए, जिसमें योग्य आर्किटेक्ट इंजीनियर, विशेषज्ञ, अन्य तकनीकी अधिकारी और कर्मचारी शामिल हों, साथ ही कंप्यूटर सहायक सुविधाएं, सहयोगी जैसे प्रतिष्ठित/अच्छी तरह से अनुभवी संरचनात्मक/विद्युत/जल आपूर्ति/अग्नि और सुरक्षा/एचवी/एसी आर्किटेक्ट निष्पादित करने के लिए वर्क्स कंसल्टेंट्स को अनिवार्य रूप से परियोजना के पूरक की तारीख और परियोजना की लागत के साथ दस्तावेज़ में कहीं और उल्लिखित ग्राहकों से प्रमाण पत्र के रूप में दस्तावेजी साक्ष्य प्रस्तुत करना चाहिए। उपर्युक्त न्यूनतम योग्यता रखने वाली एजेंसियों को सूचीबद्धता के लिए सूचीबद्ध किया जाएगा ।</li>
                <li>उपलब्ध तकनीकी कर्मचारियों की सूची अलग से दी जानी चाहिए। प्रत्येक श्रेणी के लिए आवश्यक न्यूनतम तकनीकी कर्मचारी निम्नानुसार होना चाहिए ।</li>
            </ul>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped css-serial">
                    <thead>
                        <tr>
                            <th rowspan="2">क्र0सं0</th>
                            <th style="width:150px" rowspan="2">वर्ग</th>
                            <th colspan="3">पोस्ट-स्नातक</th>
                            <th colspan="2">डिग्री धारक</th>
                            <th rowspan="2">
                                आईटीआई /
                                डिप्लोमा धारक
                            </th>
                        </tr>
                        <tr>
                            <th>आर्किटेक्चर</th>
                            <th>संरचनागत वास्तुविद्या</th>
                            <th>अन्य इंजीनियरिंग शाखाएं</th>
                            <th>आर्किटेक्चर</th>
                            <th>
                                सिविल  इंजीनियरिंग
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                वर्ग-A
                                (10 करोड़ रुपये तक के कार्य
                            </td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>3</td>
                            <td>3</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>-</td>
                            <td>1</td>
                            <td>-</td>
                            <td>2</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>1</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <ul class="list-unstyled terms_list">
                <li>8.	एक वर्ष में कुल परियोजनाओं का न्यूनतम मूल्य और एक परियोजना जिसके लिए पिछले 3 वर्षों में परामर्श किया गया है, नीचे दिखाया गया है-</li>
            </ul>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped css-serial">
                    <thead>
                        <tr>
                            <th style="width:100px">क्र0सं0</th>
                            <th style="width:300px">वर्ग</th>


                            <th style="width: 300px;">
                                कुल परियोजनाओं का मूल्य जिसके लिए पिछले 3 वर्षों में से कम से कम एक वर्ष में परामर्श किया गया ।
                            </th>
                            <th style="width: 300px;">पिछले 3 वर्षों में से कम से कम एक वर्ष में की गई एकल परियोजना का मूल्य ।</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>वर्ग-A</td>
                            <td>500.00</td>
                            <td>100.00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>वर्ग-B</td>
                            <td>100.00</td>
                            <td>10.00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>वर्ग-C</td>
                            <td>5.00</td>
                            <td>0.50</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <ul class="list-unstyled terms_list">
                <li>प्राप्त तकनीकी प्रस्तावों का अनुभव, टर्नओवर और अन्य पूर्व-योग्यता मापदंडों को ध्यान में रखते हुए विभिन्न श्रेणी के लिए मूल्यांकन किया जाएगा। संयुक्त उद्यमों के मामले में, भागीदारों से एसोसिएशन का पत्र नितांत आवश्यक है ताकि शॉर्ट-लिस्टिंग के लिए संबंधित क्षेत्र में उनके कुल अनुभव को ध्यान में रखा जा सके।</li>
                <li>
                    विधिवत रूप से पूर्ण और हस्ताक्षरित पैनलबद्ध दस्तावेज निर्धारित प्रपत्र में एक मुहरबंद लिफाफे में जमा किया जाना चाहिए, जिसके ऊपर वास्तु और वास्तुकला का पैनल बनाना शीर्षक लिखा होना चाहिए।
                    डिजाइन सलाहकार। पहले चरण के लिए विधिवत भरे हुए पैनल के दस्तावेज महाप्रबंधक (तकनीकी और शिकायत) यूपी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड, गोमती नगर, लखनऊ -10 को अपराह्न 3.00 बजे तक 15.5.2015 को प्राप्त हो सकते हैं और यह एक ओपन एंडेड प्रक्रिया होगी। पैनल में शामिल होने के संबंध में जमा किए गए दस्तावेजों को गोपनीय माना जाएगा और उन्हें वापस नहीं किया जाएगा।
                </li>
            </ul>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  col-xs-12">
                    <div class="form-group">
                        @{
                            var AnnexureForm = "/assets1/images/architecture_annexure.pdf";
                            if (ViewBag.AnnexureForm != null && ViewBag.AnnexureForm != "")
                            {
                                AnnexureForm = "/Upload/MasterDocuments/" + ViewBag.AnnexureForm;
                            }
                        }
                        <a href="@Url.Content(AnnexureForm)" target="_blank" class="download_annexure">सभी अनुलग्नक डाउनलोड करें</a>
                    </div>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="chktc" required> मैं आर्किटेक्ट पंजीकरण के लिए यूपीपीसीएल की शर्तों से सहमत हूं।
                    </label>
                    <div class="check_button">
                        @*<a href="/home/architectreg" class="btn btn-primary">Submit</a>*@
                        <a class="btn btn-primary text-white" onclick="Next()">अगला</a>
                        <button id="btnpopup" type="button" class="hidden" data-toggle="modal" data-target="#exampleModal"></button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">पंजीकरण फॉर्म भरने का निर्देश।</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span style="color:red; ">
                            * फॉर्म भरना शुरू करने से पहले कृपया नियमों और शर्तों को बहुत ध्यान से पढ़ें।
                            <br />
                            * फॉर्म भरना शुरू करने से पहले कृपया सभी आवश्यक स्कैन की गई प्रति एकत्र करें।
                            <br />
                            * सभी फाइलें जेपीईजी, जेपीजी, पीएनजी या पीडीएफ प्रारूप में होनी चाहिए।
                            <br />
                            * सभी फाइलों का आकार 1024 केबी से कम होना चाहिए।
                            <br />
                            * कृपया अपनी श्रेणी का चयन करें, अपना मोबाइल नंबर दर्ज करें और आगे बढ़ने के लिए अगला बटन दबाएं।
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name">श्रेणी चुनना</label>
                            <select class="form-control" id="ddlCategory">
                                <option value="0">-- वर्ग चयन करें --</option>
                                <option value="A">वर्ग-A</option>
                                <option value="B">वर्ग-B</option>
                                <option value="C">वर्ग-C</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name">मोबाइल नंबर भरें</label>
                            <input type="text" maxlength="10" autocomplete="off" class="form-control NumberOnly" id="txtmobile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclose">बंद करना</button>
                <a class="btn btn-primary" id="btnSubmit" href="#" cssclass="btn btn-primary" onclick="OnBegin()">अगला</a>
                <button id="btnpopup1" type="button" class="hidden" data-toggle="modal" data-target="#exampleModal1"></button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OTP सत्यापित करें</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name">ओटीपी भरें</label>
                            <input type="password" maxlength="6" autocomplete="off" class="form-control NumberOnly" id="txtOTP">
                            <span style="color:red">ओटीपी केवल दस मिनट के लिए वैध है।</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">बंद करना</button>
                <a class="btn btn-primary" id="btnVerify" href="#" cssclass="btn btn-primary" onclick="OnBeginVerify()">सत्यापित करें और अगला</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/APPjs/Common.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
             GetUpdatedRecords($("#CurrentName").html());
        });

        function Next() {
            var s = $('#chktc').prop("checked");
            if ($('#chktc').prop("checked") === true) {
                $('#btnpopup').click();
            }
            else {
                alert('Please click on checkbox to agree the terms and conditions of UPPCL!');
            }
        }
        function OnBegin() {
            debugger;
            if ($('#ddlCategory').val() === "0") {
                alert('Please select Category.');
                return false;
            }
            else if ($('#txtmobile').val() === "" || $('#txtmobile').val() === "0") {
                alert('Please enter valid Mobile Number.');
                return false;
            }
            else {
                 $('#btnSubmit').html('&nbsp;<img src="/assets/images/Ajax-loader.gif"  margin-right: 10px;" id="imgloader" alt="Loading"/>')
                 $('#btnSubmit').attr('disabled', 'disabled');
                 $.get('@Url.Action("CheckArcMobile","HNHome")', { Category: $('#ddlCategory').val(), Mobile : $('#txtmobile').val() },
                     function (data) {
                           debugger;
                         if (data.status === 0) {
                              $('#btnSubmit').html('NEXT')
                                 $('#btnSubmit').attr('disabled', false);
                         }
                         if (data.status === 1) {
                             if (data.innerResult[0].isexists === "Success") {
                                 //$('#btnpopup1').click();
                                 //$('#btnclose').click();
                                 //$('#btnSubmit').html('NEXT')
                                 //$('#btnSubmit').attr('disabled', false);
                                  location.href = '/HNHome/architectReg';
                             }
                             else {
                                 alert(data.innerResult[0].isexists);
                                 $('#btnSubmit').html('NEXT')
                                 $('#btnSubmit').attr('disabled', false);
                                 return false;
                             }
                         }
                    }
                );


            }
        }
        function OnBeginVerify() {
            debugger;
            if ($('#txtOTP').val() === "" || $('#txtOTP').val() === "0") {
                alert('Please enter valid OTP.');
                return false;
            }
            else {
                 $('#btnVerify').html('&nbsp;<img src="/assets/images/Ajax-loader.gif"  margin-right: 10px;" id="imgloader1" alt="Loading"/>')
                 $('#btnVerify').attr('disabled', 'disabled');
                 $.get('@Url.Action("ContractorVerifyOTP","HNHome")', { OTP: $('#txtOTP').val() },
                     function (data) {
                         if (data === "Success") {
                             alert('OTP has been verified successfully. Please enter your correct details in above form and complete the registration process.');
                             location.href = '/HNHome/architectReg';
                         }
                             else {
                                 alert('Either OTP is wrong or expired. Please try again.');
                                 $('#btnVerify').html('Verify & NEXT')
                                 $('#btnVerify').attr('disabled', false);
                                 return false;
                             }
                         }
                );
            }
        }
    </script>

}
