
@{
    ViewData["Title"] = "chairman";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
    string currentActionName = ViewContext.RouteData.Values["action"].ToString();
    <span id="CurrentName" style="display:none;">@currentActionName</span>
}
<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>
            अध्यक्ष का संदेश
        </h1>
    </div>
</section>
<!--/ End Hero Slider -->
<section class="bod_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 chairman-pic"><img src="../../HNassets/images/senior-ias-t-venkatesh.jpeg"></div>
            <div class="col-md-8 chairman-massage ">

                <h2>टी. वेंकटेश (I.A.S.)</h2>
                <p class="subtitle">सभापति <span>(यू. पी. प्रोजेक्ट्स कॉर्पोरेशन लि.)</span></p>
                <p class="mt-20">
                    <b>यू. पी. प्रोजेक्ट्स कॉर्पोरेशन लि.</b> सुरक्षा, गुणवत्ता, वितरण और लागत अपेक्षाओं के बारे में हमारे ग्राहकों को पूर्ण संतुष्टि के लिए सेवा प्रदान करने के लिए प्रतिबद्ध है। यह हमारे निरंतर सुधार के माध्यम से संभव हुआ है हमारे
                    काम के दायरे में परियोजना के निर्माण के लिए "एफआईआरटी टाइम राइट" का प्रयास और दृष्टिकोण। हम आर्थिक, त्वरित और उत्कृष्ट गुणवत्ता के काम के लिए और राष्ट्र में सर्वोच्च स्थान पर बने रहने के लिए प्रतिबद्ध हैं।
                </p>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/APPjs/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            GetUpdatedRecords($("#CurrentName").html());
        })


    </script>
}




