
@{
    ViewData["Title"] = "HNSecurityPolicy";
    Layout = "~/Views/Shared/_HNLayout.cshtml";
}


<section class="feature_section feature_img">
    <div class="container">
        <h1>सुरक्षा नीति</h1>
    </div>
</section>
<section class="bod_section">
    <div class="container">
        <div class="policies vision_list">

            <h5>सुरक्षा नीति</h5>
            <p>
                साइट सुरक्षा उद्देश्यों के लिए और यह सुनिश्चित करने के लिए कि यह सेवा सभी उपयोगकर्ताओं के लिए
                उपलब्ध है, सरकारी कंप्यूटर सिस्टम नेटवर्क ट्रैफिक की निगरानी के लिए वाणिज्यिक सॉफ्टवेयर
                प्रोग्रामों को नियुक्त करता है ताकि सूचनाओं को अपलोड करने या बदलने के लिए अनधिकृत प्रयासों की
                पहचान की जा सके या अन्यथा नुकसान का कारण बन सके।
            </p>
            <p>
                प्राधिकृत कानून प्रवर्तन जांच को छोड़कर, कोई अन्य प्रयास व्यक्तिगत उपयोगकर्ताओं या उनके उपयोग की
                आदतों की पहचान करने के लिए नहीं किए जाते हैं। कच्चे डेटा लॉग का उपयोग किसी अन्य उद्देश्य के लिए
                किया जाता है और नियमित विलोपन के लिए निर्धारित किया जाता है।
            </p>
            <p>
                इस सेवा पर जानकारी अपलोड करने या जानकारी बदलने के अनधिकृत प्रयास सख्त वर्जित हैं और भारतीय आईटी
                अधिनियम के तहत दंडनीय हो सकते हैं।
            </p>


        </div>
    </div>
</section>




