
@{
    ViewData["Title"] = "managingdirectors";
    Layout = "~/Views/Shared/_HNLayout.cshtml";
    string currentActionName = ViewContext.RouteData.Values["action"].ToString();
   
}
<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>प्रबंध निदेशक</h1>
        <span id="CurrentName" style="display:none;">@currentActionName</span>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <div style="overflow-x:auto;">
            <table class="table table-bordered table-hover table-striped css-serial">
                <thead class="thead-dark">
                    <tr>
                        <th>क्रम.संख्या</th>
                        <th>प्रबंध निदेशक</th>
                        <th>आरंभ </th>
                        <th>तक</th>
                    </tr>
                </thead>
                <tbody class="">

                    <tr>
                        <td></td>
                        <td>श्री बी.एन. मेहरोत्रा</td>
                        <td>25.05.1976</td>
                        <td>31.10.1977</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            श्री ए.के. चौधरी
                        </td>
                        <td>26.11.1977</td>
                        <td>30.09.1980</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री एस.सी. सिन्हा</td>
                        <td>01.10.1980</td>
                        <td>31.01.1982</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री वी.के.के. मित्तल</td>
                        <td>04.02.1982 </td>
                        <td>30.11.1982</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री जिया लाल जैन</td>
                        <td>07.11.1982</td>
                        <td>03.07.1983</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री एल.आर. अग्रवाल</td>
                        <td>04.07.1983</td>
                        <td>31.08.1990</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री आनंद कुमार गुप्ता</td>
                        <td>04.09.1990</td>
                        <td>18.03.1991</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री गिरिराज सिंह</td>
                        <td>19.03.1991</td>
                        <td>31.07.1991</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            श्री धर्मेन्द्र चरण
                        </td>
                        <td>31.07.1991</td>
                        <td>06.06.1992</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री आनंद कुमार गुप्ता</td>
                        <td>06.06.1992</td>
                        <td>25.06.1996</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            श्री श्याम बिहारी लाल गुप्ता
                        </td>
                        <td>25.06.1996</td>
                        <td>25.06.1996</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            श्री हरिरामन गुप्ता
                        </td>
                        <td>04.06.1998</td>
                        <td>10.02.1999</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री एस.ए. नबी</td>
                        <td>10.02.1999</td>
                        <td>31.08.1999</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री कप्तान सिंह</td>
                        <td>08.09.1999</td>
                        <td>30.09.2000</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            श्री आर.पी. शर्मा
                        </td>
                        <td>10.01.2001</td>
                        <td>10.04.2003</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            श्री डी.सी. सामंत
                        </td>
                        <td>10.04.2003</td>
                        <td>15.12.2005</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            श्री एस.एन. मिश्र
                        </td>
                        <td>15.12.2005</td>
                        <td>01.02.2007</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री कृष्ण कुमार</td>
                        <td>02.02.2007</td>
                        <td>17.01.2008</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            श्री व्यास शुक्ला
                        </td>
                        <td>18.01.2008</td>
                        <td>30.11.2008</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री अवधू राम</td>
                        <td>08.12.2008</td>
                        <td>29.12.2008</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            श्री देवेन्द्र मोहन
                        </td>
                        <td>29.12.2008</td>
                        <td>03.07.2010</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            श्री अबरार अहमद
                        </td>
                        <td>09.07.2010</td>
                        <td>20.05.2013</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री लाजपत राय अदलखा</td>
                        <td>21.05.2013</td>
                        <td>28.02.2014</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री संदीप अग्रवाल</td>
                        <td>01.03.2014</td>
                        <td>17.08.2016</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री शैलेन्द्र</td>
                        <td>18.08.2016</td>
                        <td>28.06.2017</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री नीरज कुमार</td>
                        <td>28.06.2017</td>
                        <td>31.03.2018</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            श्री सत्येन्द्र नाथ सिंह
                        </td>
                        <td>16.04.2018</td>
                        <td>31.07.218</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री कुणाल कुलश्रेष्ठ</td>
                        <td>02.08.2018</td>
                        <td>26.09.2018</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री महेंद्र कुमार निगम</td>
                        <td>27.09.2018</td>
                        <td>23.07.2020</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>श्री नवीन कपूर </td>
                        <td>23.07.2020</td>
                        <td>Till Date </td>
                    </tr>




                </tbody>
            </table>
        </div>
        
    </div>
</section>
<!-- /End Board of Directors Tabler -->

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/APPjs/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            GetUpdatedRecords($("#CurrentName").html());
        })


    </script>
}


