
@{
    ViewData["Title"] = "MonthlyProgressReport";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
    string currentActionName = ViewContext.RouteData.Values["action"].ToString();
    <span id="CurrentName" style="display:none;">@currentActionName</span>
}
<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Monthly Progress Report</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <div class="title">
            <h3 style="text-align: center; margin-bottom: 20px;">Monthly Progress Report Till February 2022</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="accordion">
                    <div class="card" style="margin-bottom: 10px;">
                        <div class="card-header bg-choco">
                            <a class="card-link text-white" data-toggle="collapse" href="#collapseThree">
                                <span class="float-right"><i class="fa fa-arrow-down"></i></span>
                                <h6>Prison Department</h6>
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse show" data-parent="#accordion">
                            <div class="card-body">

                                <div class="title">
                                    <h4>Uttar Pradesh Project Corporation Limited, Lucknow</h4>

                                    <h5>Updated status of Prison Department Works</h5>
                                </div>


                                <div style="overflow-x: auto;">
                                    <table class="table table-bordered table-hover table-striped css-serial mpr_table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>S.N.</th>
                                                <th>
                                                    Month
                                                </th>
                                                <th>
                                                    Target
                                                </th>
                                                <th>
                                                    Completed
                                                </th>
                                                <th>Transferred</th>

                                            </tr>
                                        </thead>
                                        <tbody class="">

                                            <tr>
                                                <td></td>
                                                <td>Till November 2020</td>
                                                <td>29</td>
                                                <td>0</td>
                                                <td>29</td>

                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td>December 2020</td>
                                                <td>17</td>
                                                <td>0</td>
                                                <td>17</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>January 2021</td>
                                                <td>17</td>
                                                <td>1</td>
                                                <td>15</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>February  2021 Target</td>
                                                <td>19</td>
                                                <td>3</td>
                                                <td>14</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>March 2021</td>
                                                <td>6</td>
                                                <td>1</td>
                                                <td>3</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>June 2021</td>
                                                <td>3</td>
                                                <td>0</td>
                                                <td>1</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>Total</td>
                                                <td>91</td>
                                                <td>5</td>
                                                <td>79</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <div class="title">
                                        <h4>Lakshya 29, etc. by November 2020 | Lakshya 17, etc. by December 2020 | Lakshya 17, etc. by January 2021 | Lakshya 19, etc. by February 2021 | Lakshya 06, etc. by March 2021 | Lakshya 03, etc. by June 2021 |</h4>

                                    </div>

                                    <table class="table table-bordered table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Name of District</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Agra, Prayagraj,
                                                    Bulandshahar, Firozabad, Peelibhit, Kanpur Dehat, Hamirpur, Banda,
                                                    Bijnaur, Gajipur,
                                                    Eta, Raibareily, Jhansi, Sitapur,Hardoi,
                                                    Varanasi, Mau, Fatehgarh, Gonda, Baliya, Mathura, Pratapgarh, Bareilly, Aligarh
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header bg-choco">
                            <a class="collapsed card-link text-white" data-toggle="collapse" href="#collapseFour">
                                <span class="float-right"><i class="fa fa-arrow-down"></i></span>
                                <h6>Home Department</h6>
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div class="title">
                                    <h4>Uttar Pradesh Project Corporation Limited, Lucknow</h4>
                                    <h5>Updated status of Home Department Running Works</h5>
                                </div>
                                <div style="overflow-x: auto;">
                                    <table class="table table-bordered table-hover table-striped  mpr_table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>S.N.</th>
                                                <th>
                                                    Description of Work
                                                </th>
                                                <th>
                                                    Number of Unit
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td></td>
                                                <td>
                                                    Total Number of Works
                                                </td>
                                                <td>55</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Number of works handover</td>
                                                <td>0  </td>
                                            </tr>


                                            <tr>
                                                <td>2</td>
                                                <td>Number of works done</td>
                                                <td>05</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Number of works interrupted due to court stay</td>
                                                <td>02</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Number of works whose money to be well adjust</td>
                                                <td>02</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Number of works whose remain in progress</td>
                                                <td>46</td>
                                            </tr>

                                            <tr>
                                                <td>5(a)</td>
                                                <td>Number of works will reach upto 75 percentage</td>
                                                <td>10</td>
                                            </tr>
                                            <tr>
                                                <td>5(b)</td>
                                                <td>Number of works will reach upto 50 percentage</td>
                                                <td>05</td>
                                            </tr>
                                            <tr>
                                                <td>5(c)</td>
                                                <td>Number of works will reach upto 25 percentage</td>
                                                <td>05</td>
                                            </tr>
                                            <tr>
                                                <td>5(d)</td>
                                                <td>Number of works will reach upto 01 percentage</td>
                                                <td>03</td>
                                            </tr>
                                            <tr>
                                                <td>5(e)</td>
                                                <td>Number of new works will obtain</td>
                                                <td>23</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
</section>
<!-- /End Board of Directors Tabler -->


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/APPjs/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetUpdatedRecords($("#CurrentName").html());
        });
    </script>
}