
@{
    ViewData["Title"] = "RegContractor";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
    string currentActionName = ViewContext.RouteData.Values["action"].ToString();
    <span id="CurrentName" style="display:none;">@currentActionName</span>
}
<style>
    .table thead th {
        border-bottom: 2px solid #000000;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #000000;
    }
</style>
<section class="feature_section feature_img">
    <div class="container">
        <h1>ठेकेदार के लिए पंजीकरण</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <div class="text-right">
            @*<a class="btn btn-primary text-white">Hindi</a>
                <a class="btn btn-success text-white">English</a>*@
        </div>
    </div>
    <br />
    <div class="container">
        <div class="title">
            <h3>
                यू0पी0 प्रोजेक्ट्स कारपोरेशन लिमिटेड में ठेकेदारों के पंजीकरण/नवीनीकरण हेतु नियम व शर्तें
            </h3>
        </div>
        <div class="term_box">
            <div class="table-responsive">
                <table class="table table-bordered" id="newtbl" border="1">
                    <thead>
                        <tr>
                            <th style="font-weight:800">क्र0सं0</th>
                            <th style="font-weight:800">वर्ग</th>
                            <th style="font-weight:800;" colspan="2">सिविल कार्य</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-weight: bolder; width: 5%; font-size: large;">1</td>
                            <td style="width:55%;">
                                <table>
                                    <tr>
                                        <th colspan="2">
                                            <h4 class="text-center">श्रेणी-सिविल कार्य  </h4><br />
                                            श्रेणी जिसके लिए आवेदन किया जा रहा है, लिखें---------हाँ<br />
                                            उप श्रेणी- का अर्थ निम्नलिखित में से कोई एक या अधिक कार्य है:
                                        </th>
                                    </tr>
                                    <tr><td>(i) बेसमेंट का निर्माण,            [       ] </td> </tr>
                                    <tr><td>(ii) बहुस्तरीय वाहन पार्किंग,      [       ]</td> </tr>
                                    <tr><td>(iii) खेल सुविधाओं,                         [       ]</td> </tr>
                                    <tr><td>(iv) रेलवे या मेट्रो स्टेशन,           [       ]	</td> </tr>
                                    <tr>
                                        <td>
                                            (v) रनवे, एयरपोर्ट टर्मिनल
                                            इमारत,                                     [       ]
                                        </td>
                                    </tr>
                                    <tr><td>(vi) मरम्मत और रखरखाव,           [       ]</td> </tr>
                                    <tr><td>(vii) परिवर्धन,                                  [       ]</td> </tr>
                                    <tr><td>(viii) बदलाव,                               [       ]</td> </tr>
                                    <tr><td>(ix) मरम्मत,                               [       ]</td> </tr>
                                    <tr><td>(x) उन्नयन आदि                     [       ]</td> </tr>
                                    <tr><td>(xi) सड़क, रेल गलियारा, पुल आदि। [       ]</td> </tr>
                                    <tr>
                                        <td>
                                            (xii)नदी प्रशिक्षण शब्द, घाट, बाढ़
                                            सुरक्षा,                                        [       ]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            (xiii)आर.सी.सी. बांध, बैराज, नहर
                                            पुल, हेड वर्क्स,                        [       ]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            (xiv) बिजली नली, पार जल निकासी,
                                            सीवर एस.टी.पी.                                       [       ]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            (xv) पंप्स, ओ.एच.टी. और जल निकासी
                                            पानी की आपूर्ति आदि                                [       ]
                                    <tr>
                                        <td>
                                            (xvi) आंतरिक सजावट और प्रस्तुत  [       ]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            (xvii) आंतरिक और बाहरी स्पष्टीकरण, मॉड्यूलर ओटी, ऑक्सीजन आपूर्ति अग्निशमन कार्य।                                               [       ]
                                        </td>
                                    </tr>
                            </td>
                        </tr>
                        <tr><td>(xi)सबसे ऊपर     </td> </tr>
                </table>

                </td>
                <td style="width:40%;">
                    <table>
                        <tr>
                            <th style="font-weight:800">निविदा सीमा करोड़ में</th>
                            <th colspan="2" style="font-weight:800;">
                                श्रेणी 
                                (06)
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Upto 20.00 Cr.-50.00 Cr.
                            </td>
                            <td>
                                A+
                            </td>
                            <td>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Upto 5.00 Cr.-20.00 Cr.
                            </td>
                            <td>
                                A
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Upto 2.00 Cr.-5.00 Cr.
                            </td>
                            <td>
                                B
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Upto 0.5 Cr-2.00 Cr.
                            </td>
                            <td>
                                C
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Up to 0.10 Cr.-0.5 Cr.
                            </td>
                            <td>
                                D
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Up to 0.00 Cr.-0.10 Cr.
                            </td>
                            <td>
                                E
                            </td>
                            <td>
                            </td>
                        </tr>


                    </table>
                </td>
                </tr>
               
                </tbody>
                </table>

                @* End New table with othf*@
                @*end table new*@
            </div>


            <ul class="list-unstyled terms_list" style="display:none">
                <li>पंजीकरण शुल्क, नवीनीकरण शुल्क, सामान्य सुरक्षा और स्थिति विवरण</li>
            </ul>
            <div class="table-responsive" style="display:none">
                <table class="table table-bordered table-hover table-striped css-serial">
                    <thead>
                        <tr>
                            <th>क्र0सं0</th>
                            <th style="width:100px">वर्ग</th>


                            <th>
                                पंजीकरण
                                शुल्क/नवीनीकरण शुल्क (में
                                मांग का रूप
                                प्रारूप)

                            </th>
                            <th>
                                सामान्य सुरक्षा
                                दर्जा
                            </th>
                            <th>करदानक्षमता</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>वर्ग A </td>
                            <td>
                                रु.10000.00+जीएसटी(18
                                प्रतिशत या के रूप में
                                लागू)
                            </td>
                            <td>
                                5.00 लाख रुपये एफडीआर
                                जारीकर्ता
                                राष्ट्रीयकृत बैंक
                            </td>
                            <td>
                                रु. 125.00 लाख जारी किए गए
                                जिला द्वारा
                                मजिस्ट्रेट / राष्ट्रीयकृत
                                किनारा
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>वर्ग B </td>
                            <td>
                                रु.8000.00+जीएसटी(18
                                प्रतिशत या के रूप में
                                लागू)
                            </td>
                            <td>
                                2.00 लाख रुपये एफडीआर
                                जारीकर्ता
                                राष्ट्रीयकृत बैंक
                            </td>
                            <td>
                                रु. 50.00 लाख जारी किए गए
                                जिला द्वारा
                                मजिस्ट्रेट / राष्ट्रीयकृत
                                किनारा
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>वर्ग C</td>
                            <td>
                                रु.7000.00+जीएसटी(18
                                प्रतिशत या के रूप में
                                लागू)
                            </td>
                            <td>
                                1.00 लाख रुपये एफडीआर
                                जारीकर्ता
                                राष्ट्रीयकृत बैंक
                            </td>
                            <td>
                                रु. 12.50 लाख जारी किए
                                जिला द्वारा
                                मजिस्ट्रेट / राष्ट्रीयकृत
                                किनारा
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>वर्ग D </td>
                            <td>
                                रु.5000.00+जीएसटी(18
                                प्रतिशत या के रूप में
                                लागू)
                            </td>
                            <td>
                                0.50 लाख रुपये एफडीआर
                                जारीकर्ता
                                राष्ट्रीयकृत बैंक
                            </td>
                            <td>
                                रु. द्वारा जारी 6.50 लाख
                                ज़िला
                                मजिस्ट्रेट / राष्ट्रीयकृत
                                किनारा
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ul class="list-unstyled terms_list">
                
                
            </ul>
            <div class="table-responsive" style="display:none">
                <table class="table table-bordered table-hover table-striped css-serial">
                    <thead>
                        <tr>
                            <th>Sr.No. </th>
                            <th>Category-A</th>
                            <th>
                                Category-B
                            </th>
                            <th>Category-C</th>
                            <th>Category-D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                A graduate civil
                                engineer

                            </td>
                            <td>
                                A graduate civil
                                engineer
                            </td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                Two Diploma
                                Holder Civil
                            </td>
                            <td>
                                One Diploma
                                Holder Civil
                            </td>
                            <td>
                                One Diploma
                                Holder Civil
                            </td>
                            <td>-</td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <ul class="list-unstyled terms_list">
               
            </ul><br />
            <div style="text-align:center">
                <h6><b>उ0प्र0 प्रोजेक्ट्स कार्पोरेशन लिमिटेड में ठेकेदारों की सूचीकरण के नियम। 2022</b></h6>
            </div>
            <ol style="padding:0px;margin-left:10px;font-weight:500">

                <li>शीर्षक, सीमा और प्रारंभ</li>
                <li>इन नियमों को यूपी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड में ठेकेदारों की सूची के लिए नियम कहा जा सकता है। 2022.</li>
                <li>संक्षिप्तता के लिए इन्हें बाद में सूचीबद्धता नियम, 2022 के रूप में संदर्भित किया जाएगा । </li>
                <li>इनका विस्तार पूरे भारत में है। </li>
                <li>ये 16 दिसंबर 2022 से प्रभावी होंगे। </li>
                <li>इन नियमों में, जब तक कि संदर्भ से अन्यथा अपेक्षित न हो । </li>

                <ol type="i" style="padding:0px;margin-left:10px;font-weight:500">

                    <li>
                        <b>
                            "सिविल "
                        </b>नींव से मिलकर एक आवासीय या गैर आवासीय संरचना का निर्माण मतलब है,
                        दीवारें, फर्श, छतें, फिनिशिंग, सिविल और इलेक्ट्रिकल सेवाएं, नलसाजी, जल आपूर्ति, सीवर, आवश्यक बुनियादी ढांचा जैसे आंतरिक सड़कें, चारदीवारी, बाहरी विद्युत सेवाएं और बागवानी कार्य आदि; एकल अनुबंध के तहत दिए गए भवन के परिसर से संबंधित। भवन निर्माण कार्य में निम्न में से कोई एक या अधिक कार्य शामिल हैं: बेसमेंट का निर्माण, बहुस्तरीय वाहन पार्किंग, खेल सुविधाएं, रेलवे या मेट्रो स्टेशन, हवाई अड्डा टर्मिनल भवन, मरम्मत और रखरखाव, परिवर्धन, परिवर्तन, नवीनीकरण, उन्नयन, विद्युत प्रतिष्ठान, विद्युत और इमारतों की यांत्रिक सेवाएं।
                        बहिष्करण: भवन निर्माण कार्य में सामग्री की आपूर्ति, हाउसकीपिंग, झाडू लगाने, देखभाल करने, निगरानी करने और इसी तरह के अन्य कार्यों में केवल श्रम घटक शामिल नहीं है। भवन निर्माण कार्य में मूल उपकरण निर्माताओं के माध्यम से विद्युत और यांत्रिक सेवाओं का संचालन और रखरखाव भी शामिल नहीं है।

                    </li>

                    <li>
                        <b>"वर्ग"</b> मतलब इन नियमों के तहत भर्ती की श्रेणी ।
                    </li>
                    <li> <b>"श्रेणी "</b>इन नियमों के तहत श्रेणी में सूचीबद्धता का वर्ग मतलब है।</li>
                    <li> <b>"ठेकेदार"</b> का अर्थ एक व्यक्ति, साझेदारी फर्म, सीमित देयता भागीदारी या अनुबंध के तहत कार्य निष्पादित करने या निष्पादित करने का इरादा रखने वाली कंपनी है ।</li>
                    <li><b>"भर्ती" </b>मतलब इन नियमों के अनुसार ठेकेदारों की सूची।</li>
                    <li><b>"निविदा सीमा"</b> का अर्थ निर्दिष्ट श्रेणी के कार्य के लिए अनुमानित लागत द्वारा निर्धारित ऊपरी सीमा है, जिस तक एक सूचीबद्ध ठेकेदार निविदा आमंत्रित कर सकता है, निविदा आमंत्रित करने वाले नोटिस में निर्दिष्ट पात्रता शर्तों के अधीन।</li>
                    <li><b>"काम"</b> का अर्थ है एकल अनुबंध/करार के तहत निष्पादित किए जाने वाले अनुबंधित कार्य।</li>


                </ol>




                <h6><i>General</i></h6>
                <ol type="i" style="padding:5px;margin-left:10px;font-weight:500">
                    <li>
                        ठेकेदारों को सूचीबद्ध करने का उद्देश्य उ.प्र. प्रोजेक्ट्स कार्पोरेशन लिमिटेड के लिए उपयुक्त एवं सक्षम ठेकेदारों की सूची तैयार करना है। काम करता है ताकि व्यक्तिगत निविदाओं के समय उनकी साख के सत्यापन की आवश्यकता को कम किया जा सके। साथ ही उ0प्र0 प्रोजेक्ट्स कार्पोरेशन लिमिटेड में सक्रिय रहने वाले ठेकेदारों को ही सूची में बने रहने की अनुमति है। और संतोषजनक प्रदर्शन करें।
                    </li>
                    <li>इन नियमों को नए नियमों द्वारा संशोधित या निरस्त किया जा सकता है। एक ठेकेदार की सूची प्रासंगिक समय पर संशोधित या नए नियमों द्वारा शासित होगी, यदि कोई हो, और सूचीबद्धता के समय प्रचलित नियमों द्वारा नहीं।</li>
                    <li>यूपी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड शब्द। इसमें यूपी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड शामिल होगा। </li>
                    <li>  (<b>उत्तर प्रदेश उद्यम की सरकार</b>). </li>
                    <li>  <b>ठेकेदार के सूचीबद्ध होने के समय बोली लगाने वाले के समय पर काम पूरा करने, गुणवत्ता और व्यवहार पर विचार किया जाएगा।*</b></li>


                </ol>



                <br />
                <div style="text-align:center;padding:80px;margin-top:-100px;margin-bottom:-50px">
                    <h5>
                        यूपी में ठेकेदारों की सूचीकरण / नवीनीकरण के लिए नियम और शर्तें। प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड
                    </h5>
                </div>
                <div>
                    <h6>

                        आवेदक ठेकेदार द्वारा दी गई सभी सूचनाओं को सत्य मानकर ठेकेदार की सूचीकरण किया जा रहा है। भर्ती के बाद, यदि ठेकेदार द्वारा प्रस्तुत की गई जानकारी किसी भी स्तर पर झूठी पाई जाती है, तो उसका नामांकन तत्काल प्रभाव से रद्द कर दिया जाएगा।

                    </h6>
                </div>

                <li>ठेकेदारों को पंजीकरण फॉर्म, और सभी नियमों और शर्तों आदि पर हस्ताक्षर करने होंगे।</li>
                <li>ठेकेदारों को पंजीकरण अवधि समाप्त होने से पहले नवीनीकरण के लिए आवेदन करना होगा।</li>
                <li>सिविल निर्माण कार्यों हेतु विभिन्न श्रेणियों में पंजीयन प्रपत्र/ठेकेदार अंकित मूल्य तक के कार्य निम्नानुसार लेने हेतु अधिकृत है-</li>
                <li>पंजीकरण शुल्क, नवीनीकरण शुल्क, सामान्य सुरक्षा और सॉल्वेंसी विवरण</li>
                @*<li>Registration fee, renewal fee, general security and Solvency details</li>*@

                <br />
                <table class="table table-bordered table-hover table-striped" style="text-align:center">
                    <tr><td colspan="4" style=" text-align: center; font-weight: 800"><i>   भर्ती शुल्क रुपये में </i></td></tr>
                    <tr>
                        <td style="font-weight:800">क्र0सं0</td>
                        <td style="font-weight:800">श्रेणी और वर्ग</td>
                        <td style="font-weight:800">ताजा भर्ती शुल्क</td>
                        <td style="font-weight:800">नामांकन नवीनीकरण शुल्क</td>
                    </tr>

                    <tr>
                        <td> 1</td>
                        <td> A+</td>
                        <td> 75,000</td>
                        <td> 37500</td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td>
                            A
                        </td>
                        <td>40,000</td>
                        <td> 20000</td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td>
                            B
                        </td>
                        <td> 25,000 </td>
                        <td> 12500 </td>
                    </tr>
                    <tr>
                        <td> 4</td>
                        <td>
                            C
                        </td>
                        <td> 15,000 </td>
                        <td> 7500 </td>
                    </tr>
                    <tr>
                        <td> 5</td>
                        <td>
                            D
                        </td>
                        <td> 10,000</td>
                        <td> 5000 </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>
                            E
                        </td>
                        <td> 5000</td>
                        <td> ----- </td>
                    </tr>
                </table>



                <table class="table table-bordered table-hover table-striped" style="text-align:center">
                    <tr><td colspan="4" style=" text-align: center; font-weight: 800"><i>सामान्य सुरक्षा</i></td></tr>
                    <tr>
                        <td style="font-weight:800">क्र0सं0</td>
                        <td style="font-weight:800">श्रेणी और वर्ग</td>
                        <td style="font-weight:800">एफडीआर/एनएससी के रूप में आवश्यक सामान्य सुरक्षा राशि और प्रतिज्ञा</td>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            A+
                        </td>
                        <td>
                            रु. 25.00 लाख "यू पी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड" लखनऊ के लिए वचनबद्ध ।
                        </td>
                    </tr>


                    <tr>
                        <td>2</td>
                        <td>
                            A

                        </td>
                        <td>
                            रु. 10.00 लाख "यू पी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड" लखनऊ के लिए वचनबद्ध ।
                        </td>
                    </tr>


                    <tr>
                        <td>3</td>
                        <td>
                            B
                        </td>
                        <td>
                            रु. 5.00 लाख "यू पी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड" लखनऊ के लिए वचनबद्ध ।
                        </td>
                    </tr>


                    <tr>
                        <td>4</td>
                        <td>
                            C
                        </td>
                        <td>
                            रु. 2.00 लाख "यू पी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड" लखनऊ के लिए वचनबद्ध ।
                        </td>
                    </tr>


                    <tr>
                        <td>5</td>
                        <td>
                            D
                        </td>
                        <td>
                            रु. 1.00 लाख "यू पी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड" लखनऊ के लिए वचनबद्ध ।
                        </td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>
                            E
                        </td>
                        <td>
                            रु. 0.50 लाख "यू पी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड" लखनऊ के लिए वचनबद्ध ।
                        </td>
                    </tr>


                </table>

                <table class="table table-bordered table-hover table-striped" style="text-align:center">
                    <tr><td colspan="9"><b><i>नेट वर्थ / सॉल्वेंसी सर्टिफिकेट की आवश्यकता, रुपये में राशि। करोड़</i></b></td></tr>

                    <tr>
                        <td> <b>वर्ग</b></td>
                        <td colspan="3"><b>सिविल </b> </td>
                        @*<td colspan="2"> <b>Infrastructure (I)</b></td>
                <td colspan="2"><b>Horticulture (H) </b></td>
                <td colspan="2"><b>Interior & (/DF)</b> </td>*@
                    </tr>

                    <tr>
                        <td> <b>क्र0सं0</b>	</td>
                        <td><b> श्रेणी </b></td>
                        <td><b>नेट वर्थ / सॉल्वेंसी </b></td>
                        @*<td><b> Class </b></td>
                <td><b>Net Worth/ Solvency</b> </td>
                <td><b>Class </b></td>
                <td><b>Net Worth/ Solvency </b></td>
                <td><b>Class </b></td>
                <td><b> Net Worth/Solvency </b></td>*@
                    </tr>

                    <tr>
                        <td> 1	</td>
                        <td> A+</td>
                        <td>8.00 </td>

                    </tr>

                    <tr>
                        <td> 2	</td>
                        <td> A</td>
                        <td>2.00</td>

                    </tr>

                    <tr>
                        <td> 3	</td>
                        <td> B</td>
                        <td>0.80</td>

                    </tr>

                    <tr>
                        <td> 4	</td>
                        <td>C</td>
                        <td>0.20</td>

                    </tr>
                    <tr>
                        <td> 5	</td>
                        <td> D</td>
                        <td>0.04</td>

                    </tr>
                    <tr>
                        <td> 6	</td>
                        <td> E</td>
                        <td>0.02</td>

                    </tr>
                </table>
                <li>
                    आवेदित श्रेणी के अनुसार निर्धारित पंजीयन शुल्क देय होगा। पंजीकरण शुल्क की राशि लखनऊ में देय यूपी प्रोजेक्ट्स कॉरपोरेशन लिमिटेड के पक्ष में तैयार डिमांड ड्राफ्ट के रूप में मान्य होगी।
                </li>
                <li>
                    सामान्य सुरक्षा, राष्ट्रीयकृत बैंक की एफडीआर की परिपक्वता जो यूपी के नाम से गिरवी है। प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड संलग्न किया जाना है। FDR की मैच्योरिटी 3 साल होनी चाहिए।
                </li>
                <li>
                    प्रत्येक श्रेणी के ठेकेदारों के लिए निम्नानुसार तकनीकी स्टाफ होना चाहिए।
                </li>
                <table class="table table-bordered table-hover table-striped" style="text-align:center">
                    <tr><td colspan="15"><b><i>आवश्यकताएँ श्रेणी-सिविल में भर्ती के लिए आवश्यक तकनीकी कर्मचारी</i></b></td></tr>

                    <tr>
                        <td> <b>क्र0सं0</b></td>
                        <td colspan="2"><b>तकनीकी योग्यता की आवश्यकता</b> </td>
                        <td colspan="2"><b>श्रेणी A+</b></td>
                        <td colspan="2"><b>श्रेणी A</b></td>
                        <td colspan="2"><b>श्रेणी B</b> </td>
                        <td colspan="2"><b>श्रेणी C</b> </td>
                        <td colspan="2"><b>श्रेणी D</b> </td>
                        <td colspan="2"><b>श्रेणी E</b> </td>
                    </tr>

                    <tr>
                        <td> <b>1</b>	</td>
                        <td colspan="2"><b> ग्रेजुएट इंजीनियर (20 साल का अनुभव) </b></td>
                        <td colspan="2"><b>1</b></td>
                        <td colspan="2"><b>- </b></td>
                        <td colspan="2"> <b>-</b> </td>
                        <td colspan="2"><b>- </b></td>
                        <td colspan="2"><b>--</b></td>
                        <td colspan="2"><b>-</b></td>

                    </tr>
                    <tr>
                        <td> <b>2</b>	</td>
                        <td colspan="2"><b> ग्रेजुएट इंजीनियर (10 साल का अनुभव)</b></td>
                        <td colspan="2"><b>1</b></td>
                        <td colspan="2"><b>1 </b></td>
                        <td colspan="2"><b>-</b> </td>
                        <td colspan="2"><b>- </b></td>
                        <td colspan="2"><b>--</b></td>
                        <td colspan="2"><b>-</b></td>

                    </tr>
                    <tr>
                        <td> <b>3</b>	</td>
                        <td colspan="2">
                            <b>
                                ग्रेजुएट इंजीनियर (5 साल का अनुभव)/डिप्लोमा इंजीनियर (10 साल का अनुभव)
                            </b>
                        </td>
                        <td colspan="2"><b>2</b></td>
                        <td colspan="2"><b>1 </b></td>
                        <td colspan="2"><b>1</b> </td>
                        <td colspan="2"><b>- </b></td>
                        <td colspan="2"><b>--</b></td>
                        <td colspan="2"><b>-</b></td>

                    </tr>
                    <tr>
                        <td> <b>3</b>	</td>
                        <td colspan="2">
                            <b>
                                ग्रेजुएट इंजीनियर (2 साल का अनुभव)/डिप्लोमा इंजीनियर (5 साल का अनुभव)
                            </b>
                        </td>
                        <td colspan="2"><b>2</b></td>
                        <td colspan="2"><b>2 </b></td>
                        <td colspan="2"><b>2</b> </td>
                        <td colspan="2"><b>2</b></td>
                        <td colspan="2"><b>--</b></td>
                        <td colspan="2"><b>-</b></td>

                    </tr>

                </table>



                <br />
                <li>तकनीकी कर्मचारियों का विवरण श्रेणी (परिशिष्ट-एफ) के अनुसार इंगित किया जाना चाहिए। यदि ठेकेदार द्वारा प्रस्तुत की गई जानकारी या जानकारी किसी भी स्तर पर असत्य पाई जाती है, तो उसका नामांकन तत्काल प्रभाव से रद्द कर दिया जाएगा। </li>


                <br />

                प्रत्येक वर्ग में प्रवाह श्रेणी में सूचीबद्धता के लिए आवश्यक न्यूनतम मशीनरी-उपकरण और संयंत्र -
                <table class="table table-bordered table-hover table-striped" style="text-align:center">
                    <tr>
                        <td colspan="9">
                            <b>
                                <i>
                                    तालिका संख्या 6:<br />
                                    आवश्यकताएँ मशीनरी-उपकरण और संयंत्र सिविल श्रेणी में सूचीबद्ध करने के लिए आवश्यक हैं

                                </i>
                            </b>

                        </td>
                    </tr>

                    <tr>
                        <td> क्र0सं0</td>
                        <td> उपकरण का नाम</td>
                        <td> श्रेणी A+</td>
                        <td>
                            श्रेणी A
                        </td>
                        <td>श्रेणी B</td>
                        <td>
                            श्रेणी C
                        </td>
                        <td> श्रेणी D</td>
                        <td> श्रेणी E</td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> कंक्रीट मिलाने वाला</td>
                        <td>9</td>
                        <td>4 </td>
                        <td> 3</td>
                        <td> 2</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td>वाइब्रेटर</td>
                        <td>12</td>
                        <td>8</td>
                        <td>6</td>
                        <td> 4</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td>कंक्रीट पंप</td>
                        <td>2</td>
                        <td>1</td>
                        <td>-</td>
                        <td>-</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>
                    <tr>
                        <td> 4</td>
                        <td>घन परीक्षण मशीन</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>
                    <tr>
                        <td> 5</td>
                        <td>बार काटने की मशीन</td>
                        <td>4</td>
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>
                    <tr>
                        <td> 6</td>
                        <td>बार झुकने वाली मशीन</td>
                        <td>2</td>
                        <td>1</td>
                        <td>-</td>
                        <td>-</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>
                    <tr>
                        <td> 7</td>
                        <td>स्टील शटरिंग प्लेट</td>
                        <td>9000 sqm</td>
                        <td>5000 sqm</td>
                        <td>-</td>
                        <td>-</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>
                    <tr>
                        <td> 8A</td>
                        <td>स्टील मचान एडजस्टेबल टेलिस्कोपिक प्रॉप्स। एडजस्टेबल स्पैन</td>
                        <td>16000 Nos</td>
                        <td>8000 Nos</td>
                        <td>5000 Nos</td>
                        <td>-</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>
                    <tr>
                        <td> 8B</td>
                        <td>एडजस्टेबल स्पैन</td>
                        <td>4500 Nos</td>
                        <td>3000 Nos</td>
                        <td>2000 Nos</td>
                        <td>-</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>

                    <tr>
                        <td> 9</td>
                        <td>इलेक्ट्रॉनिक कुल स्टेशन उपकरण</td>
                        <td>1</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td>अल्ट्रा-पल्स वेलोसिटी मीटर</td>
                        <td>1</td>
                        <td>1</td>
                        <td>-</td>
                        <td>-</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>रिबाउंड हैमर टेस्ट मशीन</td>
                        <td>1</td>
                        <td>1</td>
                        <td>-</td>
                        <td>-</td>
                        <td> -</td>
                        <td> -</td>
                    </tr>
                </table>

                आवेदन, आवश्यक इंजीनियरिंग प्रतिष्ठान, उपकरण, संयंत्र, और मशीनरी, यदि उसके पास पहले से उपलब्ध नहीं है, को किराए पर लेने या अन्यथा खरीदने के लिए आवेदन पत्र (अनुबंध-1) में एक उपक्रम प्रस्तुत करेगा। यदि ठेकेदार कार्य की आवश्यकता के अनुसार आवश्यक इंजीनियरिंग प्रतिष्ठान, उपकरण, संयंत्र, और मशीनरी, या तो स्वामित्व या किराए पर लेने में विफल रहता है, तो ठेकेदार इन सूचीकरण नियमों के तहत अनुशासनात्मक कार्रवाई के लिए उत्तरदायी होगा।
                <li>
                    मशीनरी/उपकरण और संयंत्रों का विवरण श्रेणी (परिशिष्ट-जी) के अनुसार होना चाहिए ।
                </li>
                <li>
                    पंजीकृत ठेकेदारों को उ0प्र0 प्रोजेक्ट्स कार्पोरेशन लिमिटेड द्वारा निर्धारित नियमों के विपरीत आचरण करने, कार्य की गुणवत्ता खराब करने, फाइन फिनिशिंग न करने, विभागीय कर्मचारियों/अधिकारियों के साथ दुर्व्यवहार करने, उचित दंड लगाने आदि पर काली सूची में डालने का कार्य। तथा उ0प्र0 परियोजना निगम लिमिटेड के अधिकारियों को निविदा में भाग लेने से रोकने का अधिकार होगा।
                </li>
                <li>
                    आवेदक को इस आशय का शपथ पत्र देना होगा कि फर्म के किसी भागीदार का निकट सम्बन्धी (रक्त सम्बन्ध) यूपी प्रोजेक्ट्स कार्पोरेशन लिमिटेड में कार्यरत नहीं है। रक्त सम्बन्ध का अर्थ है पिता, माता, भाई-बहन, चाचा-ताऊ, पुत्री। , पुत्र व पत्नी आदि । पंजीयन उपरान्त यदि इसके विपरीत पाया जाता है तो ठेकेदार का नाम काली सूची में डाल दिया जायेगा । (परिशिष्ट-ज के अनुसार)
                </li>
                <li>
                    आवेदक को जिलाधिकारी द्वारा जारी चरित्र प्रमाण पत्र (परिशिष्ट-ग के अनुसार) संलग्न करना होगा।
                </li>
                <li>
                    आवेदक को जिला मजिस्ट्रेट / राष्ट्रीयकृत बैंक (बैंक को वैधता अवधि का उल्लेख करना चाहिए) द्वारा जारी शोधन क्षमता / निवल मूल्य प्रमाण पत्र (परिशिष्ट-डी और डी (i) के अनुसार) संलग्न करना होगा।
                </li>
                <li>
                    प्रमाणपत्रों के साथ चिपकाए जाने वाले फोटो को राजपत्रित अधिकारी/नोटरी द्वारा सत्यापित किया जाना चाहिए।
                </li>
                <li>
                    आवेदन पत्र के साथ वांछित अभिलेख प्रस्तुत नहीं किये जाने अथवा किसी कारणवश आवेदन निरस्त करने का अधिकार उ0प्र0 प्रोजेक्ट्स कार्पोरेशन लिमिटेड के अधिकारियों के पास सुरक्षित रहेगा।
                </li>
                <li>
                    उ0प्र0 प्रोजेक्ट्स कार्पोरेशन लिमिटेड से संबंधित समस्त कार्यवाही जैसे निविदा, क्रय, ठेका एवं बिल आदि पर संबंधित ठेकेदार को हस्ताक्षर करना होगा तथा उसके द्वारा अधिकृत व्यक्ति को ही शपथ पत्र देना होगा।
                </li>
                <li>
                    यूपी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड बिना कोई कारण बताए पंजीकरण/नवीनीकरण के लिए आवेदन को रद्द करने का अधिकार सुरक्षित रखता है।
                </li>
                <li>
                    पंजीकृत ठेकेदार को भविष्य में भी उ0प्र0 प्रोजेक्ट्स कार्पोरेशन लिमिटेड द्वारा समय-समय पर जारी किये गये आदेशों का पालन करना होगा।
                </li>
                <li>
                    ठेकेदारों द्वारा पिछले तीन वर्षों के आयकर रिटर्न की एक प्रति आयकर विभाग को संलग्न की जानी चाहिए।
                </li>
                <li>
                    चार्टर्ड एकाउंटेंट से पिछले तीन वर्षों की बैलेंस शीट की प्रमाणित प्रति जमा करनी होगी।
                </li>


                <table class="table table-bordered table-hover table-striped" style="text-align:center">
                    <tr>
                        <td colspan="12">
                            <b>
                                <i>
                                    श्रेणी और वर्ग के लिए कार्य अनुभव की प्रकृति और परिमाण
                                </i>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <b>
                                <i>
                                    श्रेणी: सिविल (ए+, ए, बी, सी, डी और ई) में परिमाण<br />
                                    रु. करोड़

                                </i>
                            </b>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4"> </td>
                        <td colspan="8">श्रेणी</td>

                    </tr>
                    <tr>
                        <td colspan="4">(a) पूर्ण कार्य की प्रकृति</td>
                        <td colspan="1">A+</td>
                        <td colspan="1">A</td>
                        <td colspan="1">B</td>
                        <td colspan="1">C</td>
                        <td colspan="1">D</td>
                        <td colspan="1">E</td>



                    </tr>

                    <tr>
                        <td colspan="4">तीन समान कार्य प्रत्येक मूल्य के</td>
                        <td colspan="1">8.00</td>
                        <td colspan="1">2.00</td>
                        <td colspan="1">0.80</td>
                        <td colspan="1">0.20</td>
                        <td colspan="1">0.04</td>
                        <td colspan="1">-</td>



                    </tr>
                    <tr>
                        <td colspan="4">या</td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>



                    </tr>
                    <tr>
                        <td colspan="4">समान मूल्य के दो समान कार्य</td>
                        <td colspan="1">10.00</td>
                        <td colspan="1">2.50</td>
                        <td colspan="1">1.00</td>
                        <td colspan="1">0.25</td>
                        <td colspan="1">0.05</td>
                        <td colspan="1">-</td>



                    </tr>
                    <tr>
                        <td colspan="4">या</td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>



                    </tr>
                    <tr>
                        <td colspan="4">मूल्य का एक समान कार्य</td>
                        <td colspan="1">16.00</td>
                        <td colspan="1">4.00</td>
                        <td colspan="1">1.60</td>
                        <td colspan="1">0.40</td>
                        <td colspan="1">0.08</td>
                        <td colspan="1">0.10</td>



                    </tr>
                    <tr>
                        <td colspan="10">
                            <b> सिविल श्रेणी के लिए नोट: </b><br />
                            1.	40% से अधिक E&M घटक वाले कार्यों को सूचीबद्ध करने पर विचार नहीं किया जाएगा।<br />
                            2.  कक्षा A+ के लिए आवेदक के पास G+4 या उससे अधिक मंजिल के एक भवन का या तो पात्र कार्य के रूप में या विभिन्न अनुबंध के तहत किसी अन्य कार्य के हिस्से के रूप में अनुभव होना चाहिए। इस उद्देश्य के लिए, प्रत्येक बेसमेंट/स्टिल्ट फ्लोर को मंजिला माना जाएगा। ममटी, लिफ्ट मशीन रूम और पानी की टंकी को मंजिला नहीं माना जाएगा।<br />
                            3.  कक्षा ए+, ए और बी के लिए आवेदक के पास संरचना के साथ एक भवन का अनुभव या तो पात्र कार्य के रूप में या विभिन्न अनुबंध के तहत किसी अन्य कार्य के हिस्से के रूप में होना चाहिए।

                        </td>




                    </tr>



                </table>
                <b>नोट :</b> उपर्युक्त राज्य विभागों/राज्य संस्थानों/सार्वजनिक उपक्रमों द्वारा जारी प्रमाण पत्रों में कार्यों के संतोषजनक समापन का उल्लेख होना चाहिए, जिसकी पुष्टि आवश्यकता के अनुसार संबंधित विभाग द्वारा की जाएगी।

                <li>ठेकेदारों का पंजीयन दो वर्ष के लिए ही किया जाएगा। पंजीकृत ठेकेदारों के नवीनीकरण हेतु चरित्र प्रमाण पत्र, स्थिति प्रमाण पत्र एवं किये गये कार्य को संतोषजनक ढंग से पूर्ण करने का प्रमाण पत्र संलग्न करना होगा एवं परियोजना प्रबंधक कार्यालय के माध्यम से कार्य सम्पादित किये जाने पर भिजवाना होगा। संबंधित कार्यालय की संस्तुति आवश्यक है जिसके बिना नवीनीकरण नहीं होगा।</li>

                <li>यदि किसी फर्म को उ0प्र0 परियोजना निगम द्वारा किसी कारण से ब्लैक लिस्ट किया जाता है, तो उस फर्म का स्वामी या भागीदार किसी अन्य फर्म का भागीदार या स्वामी है तो वह फर्म भी स्वत: ही ब्लैक लिस्टेड हो जायेगी।</li>

                <li>राज्य बार काउंसिल के साथ पंजीकृत कोई भी अधिवक्ता अनुबंध के पंजीकरण/नवीकरण के लिए पात्र है। कार्य के अनुबंध के गठन के बाद भी, यदि उपरोक्त तथ्य ध्यान में आता है, तो संतुष्टि और संतुष्टि के मामले में, प्रबंध निदेशक या उनके द्वारा नामित अधिकारी द्वारा एक तर्कपूर्ण आदेश जारी करके इस तरह के पंजीकरण / अनुबंध को तत्काल रद्द कर दिया जाएगा।</li>

                <li>ऐसे व्यक्ति/फर्म/कम्पनी को भी कोई ठेका स्वीकार नहीं किया जायेगा जो किसी अन्य विभाग में ब्लैक लिस्टेड की श्रेणी में आता हो। इस श्रेणी के आवेदक पंजीकरण/नवीनीकरण के पात्र नहीं हैं।</li>

                <li>
                    किसी ठेकेदार को ठेका दिये जाने के बाद भी यदि कोई तथ्य सिद्ध होता है कि संबंधित ठेकेदार/फर्म/कंपनी द्वारा अन्य संभावित निविदाकारों को धमकी दी गई है या प्रक्रिया और निविदा में भाग लेने से रोका गया है या यह पाया जाता है कि संबंधित ठेकेदार/व्यक्ति <b> सक्रिय रूप से माफिया गतिविधियों, असामाजिक कार्यों और संगठित आपराधिक गतिविधियों में शामिल है,</b> तो उसे दिया गया अनुबंध या अनुबंध जिला मजिस्ट्रेट या पुलिस से जांच रिपोर्ट प्राप्त करने के बाद रद्द कर दिया जाएगा।
                </li>

                <li> किसी भी विवाद को निपटाने का अधिकार प्रबंध निदेशक, उ0प्र0 परियोजना निगम लिमिटेड के पास रहेगा, प्रबंध निदेशक द्वारा लिया गया निर्णय अंतिम होगा। </li>

                <li>उक्त नियम एवं शर्तों के तहत किसी भी विवाद को निपटाने का क्षेत्राधिकार लखनऊ स्थित न्यायालय का होगा।</li>

                <li> किसी भी ठेकेदार द्वारा किसी अन्य ठेकेदार को सबलेट कार्य का अनुभव स्वीकार नहीं किया जायेगा।</li>
                <li>विद्युत कार्य, अग्निशमन कार्य एवं दीमक रोधी उपचार कुशल एजेंसियों के माध्यम से करना होगा ।</li>
                <li>
                    शपथ पत्र परिशिष्ट एच के अनुसार किया जाना चाहिए।


                </li>

              
                <div class="row">
                    <div class="col-xl-8 col-lg-8  col-md-8  col-sm-8   col-xs-12">
                        <div class="form-group">

                            @{
                                var regForm = "/assets1/ContractorForm/ContractorApplication.pdf";
                                if (ViewBag.RegForm != null && ViewBag.RegForm != "")
                                {
                                    regForm = "/Upload/MasterDocuments/" + ViewBag.RegForm;
                                }
                            }
                            <a href="@Url.Content(regForm)" target="_blank" class="download_annexure">पंजीकरण प्रपत्र डाउनलोड करें</a>

                        </div>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label class="form-check-label">
                            <input class="form-check-input" id="chktc" type="checkbox" name="remember" required> मैं निर्यातक लॉगिन निर्माण के लिए यूपीपीसीएल की शर्तों से सहमत हूं।
                        </label>
                        <div class="check_button">
                            @*<a href="/home/frmContractor" class="btn btn-primary" >NEXT</a>*@
                            <a class="btn btn-primary" onclick="Next()">अगला</a>
                            <button id="btnpopup" type="button" class="hidden" data-toggle="modal" data-target="#exampleModal"></button>

                        </div>
                    </div>

                </form>
</div>
    </div>
</section>

<!-- /End Board of Directors Tabler -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">पंजीकरण/नवीनीकरण का फॉर्म भरने हेतु दिशा निर्देश</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span style="color:red; ">
                            * फॉर्म भरने से पहले दिए गए नियम व शर्तो को ध्यान से पढ़ लें|
                            <br />
                            * फॉर्म को भरना शुरू करने से पहले यह सुनिश्चित कर ले कि अपलोड की जाने वाली आवश्यक सभी दस्तावेज की स्कैन्ड कॉपी आपके पास उपलब्ध हैं|
                            <br />
                            * अपलोड की जाने वाली आवश्यक सभी दस्तावेज jpeg, jpg, png, pdf फॉर्मेट में ही होनी चाहिए।
                            <br />
                            * अपलोड की जाने वाली आवश्यक सभी दस्तावेज का आकार 1024 KB से अधिक नहीं होना चाहिए|
                            <br />
                            * फॉर्म भरने के लिए उचित श्रेणी का चुनाव करें एवं अपना कार्यरत मोबाइल नंबर भर कर NEXT बटन पर क्लिक करें|
                        </span>
                    </div>
                </div>
                <br />
               

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name"> श्रेणी</label>
                            <select class="form-control" id="ddlCategory" onchange="Bindsubcategory()" style="font-size:14px">
                                <option value="0">-- उप श्रेणी चुनें --</option>
                                @*<option value="A">Category-A</option>
                        <option value="B">Category-B</option>
                        <option value="C">Category-C</option>
                        <option value="D">Category-D</option>*@
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name"> Sub Category</label>
                            <select class="form-control" id="ddlSubCategory" style="font-size:14px">
                                <option value="0">-- Select Sub Category --</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name"> मोबाइल नंबर भरें </label>
                            <input type="text" maxlength="10" autocomplete="off" class="form-control NumberOnly" id="txtmobile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclose">Close</button>
                <a class="btn btn-primary" id="btnSubmit" href="#" cssclass="btn btn-primary" onclick="OnBegin()">अगला</a>
                <button id="btnpopup1" type="button" class="hidden" data-toggle="modal" data-target="#exampleModal1"></button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OTP सत्यापित करें</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name">OTP भरें</label>
                            <input type="password" maxlength="6" autocomplete="off" class="form-control NumberOnly" id="txtOTP">
                            <span style="color:red">OTP is valid for only ten minute.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" id="btnVerify" href="#" cssclass="btn btn-primary" onclick="OnBeginVerify()">Verify & NEXT</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/APPjs/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetUpdatedRecords($("#CurrentName").html());
            Bindcategory()
        });
        function Bindcategory() {
            $('#ddlCategory').empty();
            $.ajax({
                type: "GET",
                url: "/Home/BindMasterCategory",
                data: {},
                async: true,
                success: function (response) {

                   
                    $('#ddlCategory').append('<option value="0">--Select Category--</option>');
                    for (var i = 0; i < response.data.length; i++) {
                        $('#ddlCategory').append('<option value="' + response.data[i].Id + '">' + response.data[i].categoryName + '</option>');

                    }
                },

                failure: function (response) {
                    $('#ddlCategory').append('<option value="0">--Select Category--</option>');
                },
                error: function (response) {
                    $('#ddlCategory').append('<option value="0">--Select Category--</option>');
                }
            });
        }

        function Bindsubcategory() {
         
            $('#ddlSubCategory').empty();
            var categoryId = $('#ddlCategory').val();
            if (categoryId == 0) {
                $('#ddlSubCategory').empty();
                $('#ddlSubCategory').append('<option value="0">--Select Sub Category--</option>');
                return false;
            }

            $.ajax({
                type: "GET",
                url: "/Home/BindMasterSubCategory",
                data: { CategoryId: categoryId },
                async: true,
                success: function (response) {


                    $('#ddlSubCategory').append('<option value="0">--Select Sub Category--</option>');
                    for (var i = 0; i < response.data.length; i++) {
                        $('#ddlSubCategory').append('<option value="' + response.data[i].Id + '">' + response.data[i].SubCategoryName + '</option>');

                    }
                },

                failure: function (response) {
                    $('#ddlSubCategory').append('<option value="0">--Select Sub Category--</option>');
                },
                error: function (response) {
                    $('#ddlSubCategory').append('<option value="0">--Select Sub Category--</option>');
                }
            });
        }
        function Next() {
            var s = $('#chktc').prop("checked");
            if ($('#chktc').prop("checked") === true) {
                $('#btnpopup').click();
            }
            else {
                alert('Please click on checkbox to agree the terms and conditions of UPPCL!');
            }
        }
        function OnBegin() {
            debugger;
            if ($('#ddlCategory').val() === "0") {
                alert('Please select Category.');
                return false;
            }
            else if ($('#txtmobile').val() === "" || $('#txtmobile').val() === "0") {
                alert('Please enter valid Mobile Number.');
                return false;
            }
            else {
                 $('#btnSubmit').html('&nbsp;<img src="/assets/images/Ajax-loader.gif"  margin-right: 10px;" id="imgloader" alt="Loading"/>')
                 $('#btnSubmit').attr('disabled', 'disabled');
                 $.get('@Url.Action("CheckContractorMobile","HNHome")', { Category: $('#ddlCategory').val(), Mobile : $('#txtmobile').val() },
                     function (data) {
                           debugger;
                         if (data.status === 0) {
                              $('#btnSubmit').html('NEXT')
                                 $('#btnSubmit').attr('disabled', false);
                         }
                         if (data.status === 1) {
                             if (data.innerResult[0].isexists === "Success") {
                                 //$('#btnpopup1').click();
                                 //$('#btnclose').click();
                                 //$('#btnSubmit').html('NEXT')
                                 //$('#btnSubmit').attr('disabled', false);
                                   location.href = '/HNhome/frmContractor';
                             }
                             else {
                                 alert(data.innerResult[0].isexists);
                                 $('#btnSubmit').html('NEXT')
                                 $('#btnSubmit').attr('disabled', false);
                                 return false;
                             }
                         }
                    }
                );

                //return true;
            }
        }
        function OnBeginVerify() {
            debugger;
            if ($('#txtOTP').val() === "" || $('#txtOTP').val() === "0") {
                alert('Please enter valid OTP.');
                return false;
            }
            else {
                 $('#btnVerify').html('&nbsp;<img src="/assets/images/Ajax-loader.gif"  margin-right: 10px;" id="imgloader1" alt="Loading"/>')
                 $('#btnVerify').attr('disabled', 'disabled');
                 $.get('@Url.Action("ContractorVerifyOTP","HNHome")', { OTP: $('#txtOTP').val() },
                     function (data) {
                         if (data === "Success") {
                             alert('OTP का सत्यापन सफलतापूर्वक हो गया हैं| दिए गए फॉर्म को भरें एवं रजिस्ट्रेशन प्रक्रिया पूरी करें|');
                             location.href = '/home/frmContractor';
                         }
                             else {
                                 alert('Either OTP is wrong or expired. Please try again.');
                                 $('#btnVerify').html('Verify & NEXT')
                                 $('#btnVerify').attr('disabled', false);
                                 return false;
                             }
                         }
                );
            }
        }
    </script>
}