
@{
    ViewData["Title"] = "SiteMap";
    Layout = "~/Views/Shared/_HNLayout.cshtml";
}

<!-- Feature header -->
    <section class="feature_section feature_img">
        <div class="container">
            <h1>साइट मैप</h1>
        </div>
    </section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
    <section class="bod_section">
        <div class="container">
            <div class="site_map_box">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="site_map_list">
                            <h5>
                                होम
                            </h5>
                            <li><a href="/Hnhome/Index">इन्डेक्स</a></li>
                        </ul>

                        <ul class="site_map_list">
                            <h5>
                                हमारे बारे में
                            </h5>

                            <!-- <h6>Organization Structure</h6> -->
                            <li>
                                <a href="/HNHome/boardofdirectors">
                                    निदेशक मंडल
                                </a>
                            </li>
                            <li><a href="/HNHome/OrganizationStructure">संगठन संरचना</a></li>
                            <li>
                                <a href="/HNHome/managingdirectors">
                                    प्रबंध
                                    निदेशक
                                </a>
                            </li>
                            <li>
                                <a href="/HNHome/chiefgenmanagers">
                                    मुख्य महाप्रबंधक
                                </a>
                            </li>
                            <li><a href="/HNHome/vision2020">दृष्टि, मिशन और मूल्य</a></li>
                            <!-- <li><a href="under_construction.html">Retired Officers List</a></li> -->
                            <li><a href="/HNHome/ProfileofCorporations">कंपनी प्रोफाइल</a></li>
                            <li><a href="/HNHome/ISOcertificate">आई.एस.ओ प्रमाण पत्र</a></li>
                            <li><a href="../../HNassets/images/csr_policy.pdf">सी.एस.आर नीति</a></li>
                            <li><a href="/HNHome/achievements">उपलब्धियां</a></li>
                            <!-- <h6>Messages</h6> -->
                            <li><a href="/HNHome/underconstruction">मंत्री का संदेश</a></li>

                            <li><a href="/HNHome/chairman">अध्यक्ष का संदेश</a></li>
                            <li><a href="/HNHome/mdmessage">प्रबंध निदेशक का संदेश</a></li>
                        </ul>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="site_map_list">
                            <h5>
                                प्रोजेक्टस
                            </h5>
                            <li><a href="/HNHome/OnGoingProjects_uppcl"> जारी प्रोजेक्ट  </a></li>
                            <li><a href="/HNHome/CompletedProjects">पूर्ण प्रोजेक्ट </a></li>
                        </ul>
                        <ul class="site_map_list">
                            <h5>
                                ऑनलाइन पंजीकरण
                            </h5>
                            <li><a href="/HNHome/RegContractor">ठेकेदार के लिए पंजीकरण</a></li>
                            <li><a href="/HNHome/architectTC">आर्किटेक्चर के लिए पंजीकरण</a></li>
                        </ul>
                        <ul class="site_map_list">
                            <h5>
                                प्रगति
                            </h5>
                            <li><a href="assets/images/CM_July-20.pdf" target="_blank"> सीएम घोषणाएं </a></li>
                            <li><a href="/HNHome/MonthlyProgressReport">मासिक प्रगति रिपोर्ट</a></li>
                            <li>
                                <a href="assets/images/yearly_work_report.pdf" target="_blank">
                                    मासिक संकलित रिपोर्ट
                                </a>
                            </li>
                            <li><a href="/HNHome/Financial">निगम की वित्तीय स्थिति</a></li>
                        </ul>
                        <ul class="site_map_list">
                            <h5>

                                गैलरी
                            </h5>
                            <li>
                                <a href="/HNHome/Photo_Album">
                                    फ़ोटो
                                    गैलरी
                                </a>
                            </li>
                            <li>
                                <a href="/HNHome/VideoGallery">
                                    वीडियो
                                    गैलरी
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="site_map_list">
                            <h5>
                                डाउनलोड
                            </h5>

                            <li>
                                <a href="/HNHome/tenders">टेंडर और नोटिस</a>
                            </li>
                            <li>
                                <a href="/HNHome/EOI">ई.ओ.आई</a>
                            </li>
                            <li>
                                <a href="/HNHome/GOS">
                                    सरकारी आदेश
                                </a>
                            </li>
                            <li><a href="/HNHome/proforma">प्रोफार्मा</a></li>
                            <li>
                                <a href="/HNHome/ListofStateofGSTNumber">
                                    राज्य जीएसटी नंबर की सूची
                                </a>
                            </li>

                        </ul>
                        <ul class="site_map_list">
                            <h5>
                                संपर्क करें
                            </h5>
                            <li>
                                <a href="/HNHome/WebDirectory">
                                    वेब
                                    निर्देशिका
                                </a>
                            </li>
                            <li>
                                <a href="/HNHome/ReachUs">
                                    हमारे पास पहुँचें
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
<!-- /End Board of Directors Tabler -->
