
@{
    ViewData["Title"] = "underconstruction";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>
            निर्माणाधीन
        </h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <h2 style="text-align: center;">यह पृष्ठ निर्माणाधीन है</h2>
    </div>
</section>
<!-- /End Board of Directors Tabler -->
