
@{
    ViewData["Title"] = "WebManager";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
}

    <section class="feature_section feature_img">
        <div class="container">
            <h1>वेब सूचना प्रबंधक</h1>
        </div>
    </section>
    <section class="bod_section">
        <div class="container">
            <div class="web_manager" style="overflow-x:auto;">
                <table class="scheme_table table table-responsive table-bordered table-striped">
                    <thead class="
                        thead-dark">
                        <tr>
                            <th style="width:200px;">फ़ोटो </th>
                            <th>शीर्षक</th>
                            <th>विवरण</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="4">
                                <img src="../assets1/images/user-image.png" style="border-radius: 50%;
                                    border:1.5px solid #ff5722;">
                            </td>
                            <th>नाम</th>
                            <td>Sumit Kumar</td>
                        </tr>
                        <tr>
                            <th>पद </th>
                            <td>IT Manager</td>
                        </tr>
                        <tr>
                            <th>फोन / फैक्स नं</th>
                            <td><a href="#" style="color:#cc6f2c">8318074212</a></td>
                        </tr>
                        <tr>
                            <th>ईमेल पता</th>
                            <td>
                                <a href="#" style="color:#cc6f2c">info@upprojects.org</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
