
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Password Reset</h4>
        </div>
    </div>
</div>
<div class="col-md-12 grid-margin stretch-card" style="display:none;" id="tblList">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="table-responsive ">
                    <table class="table table-bordered " id="tblData" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th> # </th>
                                <th>User Id</th>
                                <th>User Name</th>
                                <th>Mobile No</th>
                                <th>Email</th>
                                <th>Reset</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalChangePassword" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Reset  Password

                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">

                        <input type="text" id="RowId" style="display:none;" />
                        <table class="table table-borderless">
                            <tr>
                                <th>New Password</th>
                                <td> <input type="password" id="NewPasswordUser" class="form-control" autocomplete="off" /></td>
                                <td> <i class="mdi mdi-eye newpass"></i></td>
                            </tr>
                            <tr>
                                <th>Confirm Password</th>
                                <td> <input type="password" id="ConfirmPasswordUser" class="form-control" autocomplete="off" /></td>
                                <td> <i class="mdi mdi-eye cpass"></i></td>
                            </tr>
                        </table>

                       
                    </div>

                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ChangePassword">Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="CancelChangePassword">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/APPjs/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            BindTable();
        });
    </script>
    <script type="text/javascript">

        function BindTable() {
            var url = "/Master/GetAllUser";
            $.getJSON(url, function (data) {
                BindDataTable(data);
            })
        }

        function BindDataTable(data) {
            debugger;
            $("#tblData tbody").empty();
            if (data.length > 0) {
                $("#tblData").DataTable({
                    data: data,
                    "oLanguage": {
                        "emptyTable": "No record exist."
                    },
                    "searching": true,
                    "paging": true,
                    "lengthMenu": [[-1, 100, 50, 10], ["All", 100, 50, 10]],
                    columns: [
                        {
                            'data': null,
                            'render': function (data, type, fill, meta) {
                                return meta.row + 1;
                            }
                        },
                        { "data": "UserId" },
                        { "data": "UserName" },
                        { "data": "MobileNo" },
                        { "data": "Email" },

                        {
                            "data": null,
                            "orderable": false,
                            "searchable": true,
                            render: function (data, type, row, meta) {

                                var a = '<input type="button" value="Reset" class="btn btn-primary btn-sm"  onclick="ResetPass(' + row.Id + ')">';
                                return a;
                            }, className: "text-center"
                        }

                    ],
                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                        $("td:nth-child(1)", nRow).html(nRow._DT_RowIndex + 1);
                        return nRow;
                    },
                    responsive: true,
                    "bDestroy": true,

                });

                $("#tblList").show();
            }
            else {
                $("#tblData tbody").html("No record exist.");
            }
        }


        function ResetPass(Id) {
            $("#RowId").val(Id);
            $("#myModalChangePassword").modal('show');
        }

        $("#ChangePassword").click(function () {
            var newpass = $('#NewPasswordUser').val();
            var confirm = $('#ConfirmPasswordUser').val();

            if (newpass == "" || newpass == null) {
                alert("Please enter new password.");
                return false;
            }
            if (confirm == "" || confirm == null) {
                alert("Please enter confirm password.");
                return false;
            }
            if (newpass === confirm) {
                console.log(1);
            }
            else {
                alert("Password and Confirm Password should be same.");
                return false;
            }
            if (checkPasswordStrength() != false) {
                   $.ajax({

                type: "POST",
                url: "/Master/ResetuserPassword",
                data: { Id: $("#RowId").val(), UserPassword: newpass },
                success: function (data) {

                    alert(data);
                    window.location.reload();
                }


            })
            }
         
        });


      
    </script>

}



