
@{
    ViewData["Title"] = "SupervisorList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">List Of Supervisors</h4>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered " id="tblData">
                        <thead class="thead-light">
                            <tr>
                                <th> # </th>
                                <th>Supervisor Name</th>
                                <th>Mobile Number</th>                           
                                <th>Contractor Name</th>
                                <th>Total Districts</th>
                                <th>Total Sites</th>
                                <th>Pump Lowering</th>
                                <th>Pump Installation</th>
                                <th>Water Flowing</th>
                                <th>Handover</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(document).ready(function () {
            BindTable();
        });
        function BindTable() {
            $.get('@Url.Action("GetSupervisorList","Master")', {
        }, function (data) {
                    try {
                        BindDataTable(data);
        }
        catch (err) {
        }
        })
        .done(function (data) {
        })
        .fail(function (data) {
        });
        }

        function BindDataTable(data) {
            debugger
            if (data.length > 0) {
                $("#tblData").DataTable({
                    data: data,
                      dom:'Bfrtip',
                    buttons: [
            {
                extend: 'print',
                  title: 'Supervisors List',
                 exportOptions: {
                   columns: ":not(.not-export-column)"
                }
            },
            {
                extend: 'excel',
                title: 'Supervisors List',
                 exportOptions: {
                   columns: ":not(.not-export-column)"
                }
            }
            ],
                    "oLanguage": {
                        "emptyTable": "No record exist."
                    },
                   "searching": true,
                    "paging": true,
                    "lengthMenu": [[-1, 100, 50, 10], ["All", 100, 50, 10]],
                      columns: [
                {
                    'data': null,
                    'render': function (data, type, fill, meta) {
                        return meta.row + 1;
                    }
                },
                { "data": "SupervisorName" },
                { "data": "MobileNumber" },
              
                { "data": "ContractorName" },
                {
                    "data": "TotalDistricts",
                    render: function (data, type, row, meta) {

                        var act = "";

                        return ''+ row.TotalDistricts +'';

                    },
                },
                 {
                    "data": "TotalSites",
                    render: function (data, type, row, meta) {

                        var act = "";

                        return ''+ row.TotalSites+'';

                    },
                          },

                   {
                    "data": "WorkStartedSites",
                    render: function (data, type, row, meta) {

                        var act = "";

                        return '<a target="_blank" href="/Master/SiteList?WorkStatus=1&SupervisorId='+row.Id+'"  data-placement="top"  data-toggle="tooltip" title="Edit" ><i class="icon-pencil7" ></i>'+ row.WorkStartedSites +'</a>';

                    },
                          },
                    {
                    "data": "WorkInProgressSites",
                    render: function (data, type, row, meta) {

                        var act = "";

                        return '<a target="_blank" href="/Master/SiteList?WorkStatus=2&SupervisorId='+row.Id+'"  data-placement="top"  data-toggle="tooltip" title="Edit" ><i class="icon-pencil7" ></i>'+ row.WorkInProgressSites +'</a>';

                    },
                          },
                     {
                    "data": "WorkCompletedSites",
                    render: function (data, type, row, meta) {

                     

                        return '<a target="_blank" href="/Master/SiteList?WorkStatus=3&SupervisorId='+row.Id+'"  data-placement="top"  data-toggle="tooltip" title="Edit" ><i class="icon-pencil7" ></i>'+ row.WorkCompletedSites +'</a>';

                    },
                          },
                       {
                    "data": "WorkHandoverSites",
                    render: function (data, type, row, meta) {

                        var act = "";

                        return '<a target="_blank" href="/Master/SiteList?WorkStatus=4&SupervisorId='+row.Id+'"  data-placement="top"  data-toggle="tooltip" title="Edit" ><i class="icon-pencil7" ></i>'+ row.WorkHandoverSites +'</a>';

                    },
                          }
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                        $("td:nth-child(1)", nRow).html(nRow._DT_RowIndex + 1);
                        return nRow;
                    },
                    responsive: true,
                    "bDestroy": true
                });
            }
            else {
                $("#tblData").DataTable({
                    data: null               ,
                    "oLanguage": {
                        "emptyTable": "No record exist."
                    }
                });
            }
        }

        var onBegin = function () {
            if (confirm('Are you sure?')) {
                $('#loader').css("display", "block");
                return true;
            }
            else
                return false;
        };
        var onComplete = function (result) {
            $('#loader').css("display", "none");
        };
        var onSuccess = function (Response) {
            debugger;
            BindDataTable(Response);
        };
        var onFailed = function () {
              $('#loader').css("display", "none");
        };
    </script>

}



