@using UPProjects.Models
@model UPProjects.Models.SurveyorMaster
@{
    ViewData["Title"] = "MinisterMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Surveyor Master</h4>

        </div>
    </div>
</div>
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="post" asp-action="SurveyorMaster"
                  enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST"
                  data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                  data-ajax-failure="onFailed" data-ajax-success="onSuccess">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <input type="hidden" value="@Model.Id" name="Id" id="Id" />
                <div class="form-group">
                    <div class="row">

                        <div class="col-sm-6">

                            <label asp-for="DistictId"><b>Select District</b><span class="text-danger">*</span></label>
                            <select id="DistictId" asp-for="DistictId" asp-items="@Model.DistrictList" name="DistictId" class="form-control"
                                    >                            
                            </select>
                            <span class="text-danger" asp-validation-for="DistictId"></span>
                        </div>
                        <div class="col-sm-6">

                            <label asp-for="SurveyorName">Surveyor Name <span class="text-danger"> *</span></label>
                            <input type="text" asp-for="SurveyorName" class="form-control" id="SurveyorName" autocomplete="off" maxlength="100" />
                            <span class="text-danger" asp-validation-for="SurveyorName"></span>
                        </div>
                       

                       

                    </div>
                    <br />

                    <div class="row">
                        <div class="col-sm-6">

                            <label asp-for="MobileNumber"> Mobile Number <span class="text-danger"> *</span></label>
                            <input type="text" asp-for="MobileNumber" class="form-control" id="MobileNumber" autocomplete="off" maxlength="10" />
                            <span class="text-danger" asp-validation-for="MobileNumber"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="EmailId"> e-Mail ID<span class="text-danger"> *</span></label>
                            <input type="text" asp-for="EmailId" class="form-control" id="EmailId" autocomplete="off" maxlength="50" />
                            <span class="text-danger" asp-validation-for="EmailId"></span>

                        </div>
                        

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success mr-2" id="btnsub">@ViewBag.ButtonText </button>
                            <button type="button" class="btn btn-dark mr-2" id="reset">Reset</button>
                        </div>

                    </div>
                </div>



            </form>
        </div>
    </div>
</div>
<div class="col-md-12 grid-margin stretch-card" style="display:none;" id="tblList">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="table-responsive ">
                    <table class="table table-bordered " id="tblData" style="width:100%; font-size:12px;">
                        <thead class="thead-light">
                            <tr>
                                <th> # </th>
                               
                                <th>District</th>
                                <th>Surveyor Name</th>
                                <th>Mobile Number</th>
                                <th>Email Id</th>
                             
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {

            BindTable();
        });
    </script>
    <script type="text/javascript">

        var onBegin = function () {
           
            $('#loader').css("display", "block");

        };
        var onComplete = function (result) {
            $('#loader').css("display", "none");
        };
        var onSuccess = function (Response) {
            
            if (Response.ResultCode === "f") {

                alert(Response.ResultMessage);
            }
            else {
                alert(Response.ResultMessage);
                location.href = "/Master/SurveyorMaster";
            }
            
        };
        var onFailed = function () {
              $('#loader').css("display", "none");
        };




        function BindTable() {
            var url = "/Master/GetSurveyorMaster";
              $.getJSON(url, function (data) {
                BindDataTable(data);
            })
        }

        function BindDataTable(data) {
            debugger;
            $("#tblData tbody").empty();
            if (data.length > 0) {
                $("#tblData").DataTable({
                    data: data,
                    "oLanguage": {
                        "emptyTable": "No record exist."
                    },
                   "searching": true,
                    "paging": true,
                    "lengthMenu": [[-1, 100, 50, 10], ["All", 100, 50, 10]],
                    columns: [
                        {
                            'data': null,
                            'render': function (data, type, fill, meta) {
                                return meta.row + 1;
                            }
                        },
                        { "data": "DistrictNameEnglish" },

                        { "data": "SurveyorName" },
                         { "data": "MobileNumber" },
                        { "data": "EmailId" },
                         {
                            "data": null,
                            "orderable": false,
                            "searchable": true,
                            render: function (data, type, row, meta) {

                                    var a = '<a data-ajax="true"  onclick="EditSurveyorMaster(' + row.Id + ')" class="text-primary" >Edit</a>';
                                return a;
                            }, className: "text-left"
                        },
                        {
                            "data": null,
                            "orderable": false,
                            "searchable": true,
                            render: function (data, type, row, meta) {

                                    var a = '<a data-ajax="true"  onclick="DeleteSurveyorMaster(' + row.Id + ')" class="text-primary" >Delete</a>';
                                return a;
                            }, className: "text-left"
                        }

                    ],
                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                        $("td:nth-child(1)", nRow).html(nRow._DT_RowIndex + 1);
                        return nRow;
                    },
                    responsive: true,
                    "bDestroy": true,

                });

                $("#tblList").show();
            }
            else {
                $("#tblData tbody").html("No record exist.");
            }
        }

           function DeleteSurveyorMaster(Id) {
                        if (confirm("Are you sure?")) {
                            $.ajax({
                                type: "POST",
                                url: "/Master/DeleteSurveyor",
                                data: { Id: Id },
                                success: function (data) {
                                    if (data.ResultCode === "t") {

                                        alert(data.ResultMessage);
                                        location.href = "/Master/SurveyorMaster";

                                    }
                                    else {
                                           alert(data.ResultMessage);
                                    }
                                    
                                   
                                    BindTable();

                                }


                            })
                        }
        }
           function EditSurveyorMaster(Id) {
            location.href = "/Master/SurveyorMaster/" + Id;
        }
         $("#reset").click(function () {

            location.href = "/Master/SurveyorMaster";
        })
    </script>

}




