
@{
    ViewData["Title"] = "ViewCompletedetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="row">

                        <label style="display:none;font-weight:bold;font-size:15px;" id="logindetails" class="text-primary"><b><span></span></b></label>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Name of Village : <br /> <br /> <b><label id="lblvillage"></label></b>

                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Site Type : <br /> <br />  <b><label id="lblSite"></label></b>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Supervisor : <br /> <br />  <b><label id="lblSupervisor"></label></b>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Contractor :  <br /> <br /> <b><label id="lblContractor"></label></b>
                                </label>

                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Submersible Pump Set Make
                                    : <br /> <br />  <b><label id="SumersiblePumpSet"></label></b>
                                </label>


                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Submersible Pump Set Serial Nos.
                                    :  <br /> <br /> <b><label id="SumersiblePumpSerialNo"></label></b>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Submersible Pump Set Horse Power
                                    :  <br /> <br /> <b><label id="SumersiblePumpHorsePower"></label></b>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Submersible Pump Set discharge in LPM
                                    :  <br /> <br /> <b><label id="SumersiblePumpSetDischarge"></label></b>
                                </label>

                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Submersible Pump Set Head in Mtr. :  <br /> <br /> <b><label id="SumersiblePumpSetHeadMeter"></label></b>
                                </label>


                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Starter Make : <br /> <br /> <b><label id="StarterMake"></label></b>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    PVC Flat Cable : <br /> <br />  <b><label id="PVCFlatCable"></label></b>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    CPVC Pipe - 25mm dia in mtr. In lowering :  <br /> <br /> <b><label id="CPVCPipeLowering"></label></b>
                                </label>

                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    CPVC Pipe - 25mm dia in mtr. Delivery :  <br /> <br /> <b><label id="CPVCPipeDelivery"></label></b>
                                </label>


                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    CPVC Pipe - 20mm dia in mtr. From tank to tab : <br /> <br /> <b><label id="CPVCPipeTankTab"></label></b>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    CPVC Ballvalves - 25mm : <br /> <br />  <b><label id="CPVCBallvalves25"></label></b>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    CPVC Ballvalves - 20mm : <br /> <br /> <b><label id="CPVCBallvalves20"></label></b>
                                </label>

                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    PVC Water Storage tank make  :  <br /> <br /> <b><label id="PVCWaterStorageTank"></label></b>
                                </label>


                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    CP Brass Push Cock (tab) : <br /> <br /> <b><label id="CPBrassPushCockTab"></label></b>
                                </label>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>
                                    Remark : <br /> <br />  <b><label id="Remark"></label></b>
                                </label>

                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>

                    

                   

                
            </div>
        </div>
   
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(document).ready(function () {
            BindTable();
        });
        function BindTable() {
            debugger
             var SiteId = @Context.Request.Query["SiteId"];
             var SupervisorId = @Context.Request.Query["SupervisorId"];
             var url = "/Master/GetCompleteSiteDetails?SiteId=" + SiteId + "&SupervisorId=" + SupervisorId;
            $.get(url, {
            }, function (data) {
                debugger
                    var res = data[0];
                    $('#lblvillage').html(res.VillageName);
                    $('#lblSite').html(res.SiteName);
                    $('#lblSupervisor').html(res.SupervisorName);
                    $('#lblContractor').html(res.ApplicantName);
                    $('#SumersiblePumpSet').html(res.SumersiblePumpSet);
                    $('#SumersiblePumpSerialNo').html(res.SumersiblePumpSerialNo);
                    $('#SumersiblePumpHorsePower').html(res.SumersiblePumpHorsePower);
                    $('#SumersiblePumpSetDischarge').html(res.SumersiblePumpSetDischarge);

                    $('#SumersiblePumpSetHeadMeter').html(res.SumersiblePumpSetHeadMeter);
                    $('#StarterMake').html(res.StarterMake);
                    $('#PVCFlatCable').html(res.PVCFlatCable);
                    $('#CPVCPipeLowering').html(res.CPVCPipeLowering);

                    $('#CPVCPipeDelivery').html(res.CPVCPipeDelivery);
                    $('#CPVCPipeTankTab').html(res.CPVCPipeTankTab);
                    $('#CPVCBallvalves25').html(res.CPVCBallvalves25);
                    $('#CPVCBallvalves20').html(res.CPVCBallvalves20);

                    $('#PVCWaterStorageTank').html(res.PVCWaterStorageTank);
                    $('#CPBrassPushCockTab').html(res.CPBrassPushCockTab);
                    $('#Remark').html(res.Remark);

        })
        .done(function (data) {
        })
        .fail(function (data) {
        });
        }

        

  
    </script>

}