
@{
    ViewData["Title"] = "architectTC";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
    //Layout = "~/Views/Shared/_OuterLayout-old.cshtml";

}
<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Registration of Architect</h1>
       
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <div class="title">
           
            <h3>Expression of Interest for Empanelment of Architects/ Architectural and Design Consultants</h3>
        </div>
        
        <div class="term_box">

              <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                Offers are invited in sealed cover from architects/architectural and design consultants who are conversant with the latest trend in architecture as well as building construction etc. for architectural planning and designing from conceptualization stage to detailed working drawings of the works. The empanelment of Architects shall be done in the following three categories:
                </p>
               

                 <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped css-serial">
                   
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Category-A</td>
                            <td>Works costing no limit</td>
                            
                        </tr>
                        <tr>
                            <td></td>
                            <td>Category-B</td>
                            <td>Works costing upto Rs.25 Crores</td>
                            
                        </tr>
                        <tr>
                            <td></td>
                            <td>Category-C</td>
                            <td>Work costing upto Rs. 05 Crores</td>
                            
                        </tr>

                    </tbody>
                </table>
            </div>
                <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                Scope of work shall include all the works generally done by architects i.e. site visit/study. preparation of preliminary architectural drawings, preparation of working drawings, preparation of structural drawings, all the service drawings including preparation of bill of quantities, preliminary and detailed estimates.
            </p>
              <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                Interested architects are required to submit their offers/proposals on prescribed application form/proforma/ (instructions) available on our website www.upprojects.org against this expression of interest and their profile along with list of works done and other details with security deposit in the form of Demand Draft/ FDR/ TDR/ NSC from nationalized bank/post offices pledged in favour of UP PROJECTS CORPORATION LTD. Lucknow, valid for 3 years in the office of undersigned upto 15.05.2015, 3.00 PM (for 1 phase) & this will be an open ended process. Proposals without security deposit will not be entertained. Amount of security deposit are as given below:
            </p>

               <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped css-serial">
                   
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Category-A (Works costing no limit)</td>
                            <td>-Rs 2,00,000.00</td>
                            
                        </tr>
                        <tr>
                            <td></td>
                            <td>Category- B (Works costing upto Rs. 25 Crores)</td>
                            <td>-Rs 1,00,000.00</td>
                            
                        </tr>
                        <tr>
                            <td></td>
                            <td>Category-C (Work costing upto Rs. 05 Crores)</td>
                            <td>-Rs 50,000.00</td>
                            
                        </tr>

                    </tbody>
                </table>
            </div>
            <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                Processing fee of Rs. 2000/- + 18%(GST Amount) must be submitted along with the offer in the form of demand draft only in favour of U P Projects Corporation Ltd payable at Lucknow. failing which offer will not be considered.
            </p>
              <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                U.P. PROJECTS CORPORATION LTD, reserve the right to accept or reject any or all offers without assigning any reason thereof.
            </p>
              <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                The proposals shall be scrutinized as per the details submitted on the proforma  and order for empanelment of the architects will be done accordingly who meets the minimum criteria prescribed.
            </p>
             <p style="color:#2e2751;margin-bottom:10px; font-size:15px;line-height: 24px;font-family: 'Poppins', sans-serif;font-weight: 500;">
                Architects already empanelled in the corporation against Expression of Interest EOI-7/PCL/ GM(T&C)/ Architects/2013-14 need not apply again. Other architects whose earlier empanelment has expired will have to apply again.
            </p>

            
        </div>
    </div>
</section>

<section class="bod_section">
    <div class="container">
        <div class="title">
            <h3>Instruction of Applicants against E.O.I.-9/pcl/architects/2014-15</h3>
        </div>
        <div class="term_box">
            <ul class="list-unstyled terms_list">
                <li>All information called for in the enclosed forms should be furnished against the relevant columns in the forms.</li>
                <li>Consulting firms who are presently working for reputed corporate entities, Institutions, Establishment etc. and having minimum experience of 3 years in the field of Architectural and Design consultancy can only participate. </li>
                <li>The proprietor/Director of the firm should be Member of Indian Institute of Architects/Member of the Council of Architecture.</li>
                <li>Intending Consultants should have successfully completed works of value shown in clause-8 for different categories of empanelment.</li>
                <li>Architects/firms should have sufficient technical setup handling the project.</li>
                <li>Consultants/Firms should possess adequate organizational structure composing qualified Architects engineers, specialists, other technical officers and staff along with computer aided facilities, associates such as reputed/well experienced structural/electrical /water supply/fire and security/HV/AC Architects to execute works Consultants should invariably produce documentary evidence in the form of certificates from the clients as mentioned elsewhere in the document with the date of complementation of the project and the cost of project. The agencies that possess the above mentioned minimum qualification will be short listed for empanelment.</li>
                <li>List of technical staff available must be given separately. Minimum Technical staff required for each category should be as given below-</li>
            </ul>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped css-serial">
                    <thead>
                        <tr>
                            <th rowspan="2">S.N.</th>
                            <th style="width:150px" rowspan="2">Category</th>
                            <th colspan="3">Post-graduates</th>
                            <th colspan="2">Degree Holder</th>
                            <th rowspan="2">
                                ITI/
                                Diploma Holders
                            </th>
                        </tr>
                        <tr>
                            <th>Architecture</th>
                            <th>Structural Engineering</th>
                            <th>Other Engineering Branches</th>
                            <th>Architecture</th>
                            <th>
                                Civil Engineering
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                Category-A
                                (Works costing upto Rs 10 Crore
                            </td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>3</td>
                            <td>3</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>-</td>
                            <td>1</td>
                            <td>-</td>
                            <td>2</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>1</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <ul class="list-unstyled terms_list">
                <li>8.	Minimum value of total projects in a year and a single projects for which consultancy have been done in last 3 years should be as shown below-</li>
            </ul>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped css-serial">
                    <thead>
                        <tr>
                            <th style="width:100px">S.N.</th>
                            <th style="width:300px">Category</th>


                            <th style="width: 300px;">
                                Value of total projects for which consultancy done in a year in at least one of last 3 year
                            </th>
                            <th style="width: 300px;">Value of single project done in a year in at least one of last 3 year</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Category-A</td>
                            <td>500.00</td>
                            <td>100.00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Category-B</td>
                            <td>100.00</td>
                            <td>10.00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Category-C</td>
                            <td>5.00</td>
                            <td>0.50</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <ul class="list-unstyled terms_list">
                <li>The technical proposals received will be evaluated for different category taking into consideration the experience, turnover and other prequalification parameters. In case of joint-ventures, Letter of Association from partners is absolutely essential so that their total experience in the relevant field can be taken into consideration for short-listing.</li>
                <li>
                    The empanelment document in prescribed form duly completed and signed should be   submitted in a sealed cover super scribed with heading Empanelment of Architectural and
                    Design Consultants. The duly filled empanelment documents be received in the office of General Manager (Technical & Complaints) UP Projects Corporation Limited, Gomti nagar, Lucknow-10 upto 3.00 PM on 15.5.2015 for 1st phase and this will be an open ended process. Documents submitted in connection with empanelment will be treated as confidential and will not be returned.
                </li>
            </ul>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6  col-xs-12">
                    <div class="form-group">
                        @{
                            var AnnexureForm = "/assets1/images/architecture_annexure.pdf";
                            if (ViewBag.AnnexureForm != null && ViewBag.AnnexureForm != "")
                            {
                                AnnexureForm = "/Upload/MasterDocuments/" + ViewBag.AnnexureForm;
                            }
                        }
                        <a href="@Url.Content(AnnexureForm)" target="_blank" class="download_annexure">Download All Annexure</a>
                    </div>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="chktc" required> I agree to the terms of UPPCL for Architect Registration.
                    </label>
                    <div class="check_button">
                        @*<a href="/home/architectreg" class="btn btn-primary">Submit</a>*@
                        <a class="btn btn-primary" onclick="Next()">NEXT</a>
        <button id="btnpopup" type="button" class="hidden" data-toggle="modal" data-target="#exampleModal"></button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Instruction for filling the Registration Form.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span style="color:red; ">
                            * Please read terms and conditions very carefully, before start filling the Form.
                            <br />
                            * Please collect the all required scanned copy before start filling the Form.
                            <br />
                            * All files must be in jpeg, jpg, png or pdf format.
                            <br />
                            * Size of all files must be less than 1024KB.
                            <br />
                            * Please select your category, enter your mobile number and press on NEXT button to proceed further.
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name">Select Category</label>
                            <select class="form-control" id="ddlCategory">
                                <option value="0">-- Select Category --</option>
                                <option value="A">Category-A</option>
                                <option value="B">Category-B</option>
                                <option value="C">Category-C</option>                               
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name">मोबाइल नंबर भरें</label>
                            <input type="text" maxlength="10" autocomplete="off" class="form-control NumberOnly" id="txtmobile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclose">Close</button>
                <a class="btn btn-primary" id="btnSubmit" href="#" cssclass="btn btn-primary" onclick="OnBegin()">NEXT</a>
                <button id="btnpopup1" type="button" class="hidden" data-toggle="modal" data-target="#exampleModal1"></button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">OTP सत्यापित करें</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name">OTP भरें</label>
                            <input type="password" maxlength="6" autocomplete="off" class="form-control NumberOnly" id="txtOTP">
                            <span style="color:red">OTP is valid for only ten minute.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" id="btnVerify" href="#" cssclass="btn btn-primary" onclick="OnBeginVerify()">Verify & NEXT</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/APPjs/Common.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

              GetUpdatedRecords("architectReg");
        });

        function Next() {
            var s = $('#chktc').prop("checked");
            if ($('#chktc').prop("checked") === true) {
                $('#btnpopup').click();
            }
            else {
                alert('Please click on checkbox to agree the terms and conditions of UPPCL!');
            }
        }
        function OnBegin() {
            debugger;
            if ($('#ddlCategory').val() === "0") {
                alert('Please select Category.');
                return false;
            }
            else if ($('#txtmobile').val() === "" || $('#txtmobile').val() === "0") {
                alert('Please enter valid Mobile Number.');
                return false;
            }
            else {
                 $('#btnSubmit').html('&nbsp;<img src="/assets/images/Ajax-loader.gif"  margin-right: 10px;" id="imgloader" alt="Loading"/>')
                 $('#btnSubmit').attr('disabled', 'disabled');
                 $.get('@Url.Action("CheckArcMobile","Home")', { Category: $('#ddlCategory').val(), Mobile : $('#txtmobile').val() },
                     function (data) {
                           debugger;
                         if (data.status === 0) {
                              $('#btnSubmit').html('NEXT')
                                 $('#btnSubmit').attr('disabled', false);
                         }
                         if (data.status === 1) {
                             if (data.innerResult[0].isexists === "Success") {
                                 //$('#btnpopup1').click();
                                 //$('#btnclose').click();
                                 //$('#btnSubmit').html('NEXT')
                                 //$('#btnSubmit').attr('disabled', false);
                                  location.href = '/home/architectReg';
                             }
                             else {
                                 alert(data.innerResult[0].isexists);
                                 $('#btnSubmit').html('NEXT')
                                 $('#btnSubmit').attr('disabled', false);
                                 return false;
                             }
                         }
                    }
                );

             
            }
        }
        function OnBeginVerify() {
            debugger;
            if ($('#txtOTP').val() === "" || $('#txtOTP').val() === "0") {
                alert('Please enter valid OTP.');
                return false;
            }
            else {
                 $('#btnVerify').html('&nbsp;<img src="/assets/images/Ajax-loader.gif"  margin-right: 10px;" id="imgloader1" alt="Loading"/>')
                 $('#btnVerify').attr('disabled', 'disabled');
                 $.get('@Url.Action("ContractorVerifyOTP","Home")', { OTP: $('#txtOTP').val() },
                     function (data) {
                         if (data === "Success") {
                             alert('OTP has been verified successfully. Please enter your correct details in above form and complete the registration process.');
                             location.href = '/home/architectReg';
                         }
                             else {
                                 alert('Either OTP is wrong or expired. Please try again.');
                                 $('#btnVerify').html('Verify & NEXT')
                                 $('#btnVerify').attr('disabled', false);
                                 return false;
                             }
                         }
                );
            }
        }
    </script>
}