
@{
    ViewData["Title"] = "ContractorRenewalTermsandConditions";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Renewal for Contractor</h1>

    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <div class="title">
            <h3>कारपोरेशन में ठेकेदारी हेतु ऑनलाइन नवीनीकरण के पंजीकरण हेतु नियम व शर्ते</h3>
        </div>
        <div class="term_box">
            <ul class="list-unstyled terms_list">
                <li>1.	यह कि ठेकेदार/फर्म द्वारा पंजीकरण नवीनीकरण हेतु प्रार्थना पत्र प्रस्तुत करना होगा।</li>
                <li>2.	यह कि ठेकेदार/फर्म द्वारा पुराने पंजीकरण की छायाप्रति प्रस्तुत करनी होगी।</li>
                <li>
                    3.	यह कि ठेकेदार/फर्म को जिलाधिकारी द्वार निर्गत वैध चरित्र प्रमाण पत्र प्रस्तुत करना होगा।
                    (नोट-यदि फर्म साझेदारी/कम्पनी है तो सभी साझेदारों/निदेशकों के चरित्र प्रमाण पत्र प्रस्तुत करने होगा)
                </li>
                <li>
                    4.	यह कि ठेकेदार/फर्म को जिलाधिकारी/बैंक द्वारा जारी वैध हैसियत प्रमाण पत्र श्रेणी वार निम्नानुसार प्रस्तुत कराना होगा।

                    <table class="table table-bordered table-hover table-striped css-serial">
                        <thead>
                            <tr>
                                <th>क्र0सं0</th>
                                <th>श्रेणी</th>
                                <th>शुल्क</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>श्रेणी-ए</td>
                                <td>रू0 125 लाख</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>श्रेणी-बी</td>
                                <td>रू0 50 लाख</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>श्रेणी-सी</td>
                                <td> रू0 12.50 लाख</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>श्रेणी-डी</td>
                                <td>रू0 6.50 लाख</td>
                            </tr>

                        </tbody>
                    </table>


                </li>
                <li>
                    5.	यह कि ठेकेदार/फर्म द्वारा पंजीकरण के उपरान्त सम्पादित किये गये कार्यो का अनुभव प्रमाण पत्र देना होगा। यदि कोई हो।
                </li>
                <li>
                    6.	यह कि ठेकेदार/फर्म द्वारा कारपोरेशन में किये गये कार्य/कार्यो का सम्बन्धित परियोजना प्रबन्धक से प्रारूप-1 अनुसार विवरण, संस्तुति पत्र सहित प्रस्तुत करना होगा। (नोट-ठेकेदार/फर्म द्वारा कारपोरेशन में पंजीकरण के उपरान्त कोई कार्य नही किये जाने की दशा में रू0 100.00 के स्टैम्प पेपर पर नोटेराइज्ड शपथ पत्र प्रारूप-2 अनुसार देना होगा)
                </li>
                <li>
                    7.	यह कि ठेकेदार/फर्म को श्रेणी अनुसार पंजीकरण के नवीनीकरण हेतु शुल्क का डिमाण्ड ड्राफ्ट जो यू0पी0 प्रोजेक्ट्स कारपोरेशन लिमिटेड लखनऊ के पक्ष में देय हो निम्नानुसार जमा करना होगा।

                    <table class="table table-bordered table-hover table-striped css-serial">
                        <thead>
                            <tr>
                                <th>क्र0सं0</th>
                                <th>श्रेणी</th>
                                <th>शुल्क</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>श्रेणी-ए</td>
                                <td>रू0 10000.00+जीएसटी  (18 प्रतिशत अथवा जैसा लागू हो)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>श्रेणी-बी</td>
                                <td>
                                    रू0	8000.00+जीएसटी
                                    (18 प्रतिशत अथवा जैसा लागू हो)
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>श्रेणी-सी</td>
                                <td>
                                    श्रेणी-सी	रू0	7000.00+जीएसटी
                                    (18 प्रतिशत अथवा जैसा लागू हो)
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>श्रेणी-डी</td>
                                <td>
                                    रू0 5000.00+जीएसटी
                                    (18 प्रतिशत अथवा जैसा लागू हो)
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </li>
                <li> 8.	यह कि ठेकेदार/फर्म द्वारा अद्यतन जी0एस0टी0आर0-1 एवं जी0एस0टी0आर03बी0 प्रस्तुत करना होगा।</li>

            </ul>




            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3  col-xs-12">
                    <div class="form-group">
                        <a href="/assets1/images/RenewalForm.pdf" target="_blank" class="download_annexure">Download Renewal Form </a>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label class="form-check-label">
                    <input class="form-check-input" id="chktc" type="checkbox" name="remember" required> I agree to the terms of UPPCL for Contractor renewal.
                </label>
                <div class="check_button">
                    <input type="button" class="btn btn-primary" onclick="ReadTerm();" value="Next" />
                    <button id="btnpopup" type="button" class="hidden" data-toggle="modal" data-target="#exampleModal"></button>

                </div>
            </div>



        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">नवीनीकरण का फॉर्म भरने हेतु दिशा निर्देश</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span style="color:red; ">
                            * फॉर्म भरने से पहले दिए गए नियम व शर्तो को ध्यान से पढ़ लें|
                            <br />
                            * फॉर्म को भरना शुरू करने से पहले यह सुनिश्चित कर ले कि अपलोड की जाने वाली आवश्यक सभी दस्तावेज की स्कैन्ड कॉपी आपके पास उपलब्ध हैं|
                            <br />
                            * अपलोड की जाने वाली आवश्यक सभी दस्तावेज pdf फॉर्मेट में ही होनी चाहिए।
                            <br />
                            * अपलोड की जाने वाली आवश्यक सभी दस्तावेज का आकार 5 MB से अधिक नहीं होना चाहिए|
                            <br />
                            * फॉर्म भरने के लिए अपना कार्यरत मोबाइल नंबर भर कर NEXT बटन पर क्लिक करें|
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="cont_name">मोबाइल नंबर भरें</label>
                            <input type="text" maxlength="10" autocomplete="off" class="form-control NumberOnly" id="txtmobile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclose">Close</button>
                <a class="btn btn-primary" id="btnSubmit" href="#" cssclass="btn btn-primary" onclick="GetContractorDetail()">NEXT</a>
                <button id="btnpopup1" type="button" class="hidden" data-toggle="modal" data-target="#exampleModal1"></button>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/APPjs/Common.js"></script>*@
    <script type="text/javascript">

     function ReadTerm() {
            var s = $('#chktc').prop("checked");
            if ($('#chktc').prop("checked") === true) {
                $('#btnpopup').click();
            }
            else {
                alert('Please click on checkbox to agree the terms and conditions of UPPCL!');
            }
        }

     function GetContractorDetail() {
            if ($('#txtmobile').val() === "" || $('#txtmobile').val() === "0") {
                alert('Please enter valid Mobile Number.');
                return false;
            }
            else {
                 $('#btnSubmit').html('&nbsp;<img src="/assets/images/Ajax-loader.gif"  margin-right: 10px;" id="imgloader" alt="Loading"/>')
                 $('#btnSubmit').attr('disabled', 'disabled');
                $.get('@Url.Action("CheckContractorRenewalMobile","Home")', { Mobile : $('#txtmobile').val() },
                     function (data) {
                         if (data.status === 0) {
                              $('#btnSubmit').html('NEXT')
                                 $('#btnSubmit').attr('disabled', false);
                         }
                         if (data.status === 1) {
                             if (data.innerResult[0].isexists === "Success") {
                                   location.href = '/home/ContractorRenewal';
                             }
                             else {
                                 alert(data.innerResult[0].isexists);
                                 $('#btnSubmit').html('NEXT')
                                 $('#btnSubmit').attr('disabled', false);
                                 return false;
                             }
                         }
                    }
                );
            }
        }
    </script>
}
