
@{
    ViewData["Title"] = "Government";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}


<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Government Orders</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">

        <table class="table table-bordered table-hover table-striped css-serial">
            <thead class="thead-dark">
                <tr>
                    <th>S.N.</th>
                    <th>Title</th>
                    <th>Date</th>

                    <th>View/ Download</th>
                </tr>
            </thead>
            <tbody class="">
                <tr>
                    <td></td>
                    <td>Chamta Vridhi</td>
                    <td>08-09-2015</td>
                    <td>
                        <a href="../assets1/images/chamta-vridhi.pdf" target="_blank" class="download_link">View</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Renewal Work U. P. Projects Corporation Ltd.</td>
                    <td>29-05-2015</td>
                    <td>
                        <a href="../assets1/images/sichai-vibhag.pdf" target="_blank" class="download_link">View</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Declaring UP Projects and Tubewells Corporation Ltd., Lucknow as a working organization.</td>
                    <td>14-07-1999</td>
                    <td>
                        <a href="../assets1/images/1434-dt-14.7-1999.pdf" target="_blank" class="download_link">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- /End Board of Directors Tabler -->
