
@{
    ViewData["Title"] = "kanpur";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Automatic Driving testing track kanpur</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container ongoing-project">

        <div class="jhansi">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/completed-project/Kanpur/automatic-driving-testing-track-kanpur.jpg"><img src="/assets1/images/project-images/completed-project/Kanpur/automatic-driving-testing-track-kanpur.jpg"> </a>
                </div>


            </div>
        </div>
        <div class="back"><a href="/home/completedprojects"><span class="arrow_link">  <img src="/assets1/images/left-arrow.svg"></span></a></div>

    </div>
</section>
<!-- /End Board of Directors Tabler -->
