
@{
    ViewData["Title"] = "kaushambi";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
<section class="feature_section feature_img">
    <div class="container">
        <h1>Fire Station Kaushambi</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container ongoing-project">

        <div class="jhansi">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/01.jpg"><img src="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/01.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/02.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/02.jpeg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/03.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/03.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/04.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/04.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/05.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/05.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/06.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-kaushambi/06.jpg">
                    </a>
                </div>

            </div>
        </div>
        <div class="back"><a href="/Home/OngoingProjects"><span class="arrow_link">  <img src="/assets1/images/left-arrow.svg"></span></a></div>

    </div>
</section>
<!-- /End Board of Directors Tabler -->
