
@{
    ViewData["Title"] = "ManagingDirectors";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
    string currentActionName = ViewContext.RouteData.Values["action"].ToString();
}


<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Managing Directors</h1>
        <span id="CurrentName" style="display:none;">@currentActionName</span>
    </div>
</section>
<section class="bod_section">
    <div class="container">
        <div style="overflow-x:auto;">
            <table class="table table-bordered table-hover table-striped css-serial">
                <thead class="thead-dark">
                    <tr>
                        <th>S.N.</th>
                        <th>Managing Directors</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                </thead>
                <tbody class="">

                    <tr>
                        <td></td>
                        <td>Shri B.N. Mehrotra</td>
                        <td>25.05.1976</td>
                        <td>31.10.1977</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri A.K Chaudhari</td>
                        <td>26.11.1977</td>
                        <td>30.09.1980</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri S.C. Sinha</td>
                        <td>01.10.1980</td>
                        <td>31.01.1982</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri V.K.C. Mittal</td>
                        <td>04.02.1982 </td>
                        <td>30.11.1982</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Jiya Lal Jain</td>
                        <td>07.11.1982</td>
                        <td>03.07.1983</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri L.R. Agrawal</td>
                        <td>04.07.1983</td>
                        <td>31.08.1990</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Anand Kumar Gupta</td>
                        <td>04.09.1990</td>
                        <td>18.03.1991</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Giriraj Singh</td>
                        <td>19.03.1991</td>
                        <td>31.07.1991</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Shri Dharmendra Charan</td>
                        <td>31.07.1991</td>
                        <td>06.06.1992</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Anand Kumar Gupta</td>
                        <td>06.06.1992</td>
                        <td>25.06.1996</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Shyam Bihari Lal Gupta </td>
                        <td>25.06.1996</td>
                        <td>25.06.1996</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Hariraman Gupta</td>
                        <td>04.06.1998</td>
                        <td>10.02.1999</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri S.A. Nabi</td>
                        <td>10.02.1999</td>
                        <td>31.08.1999</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Kaptan Singh</td>
                        <td>08.09.1999</td>
                        <td>30.09.2000</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri R.P. Sharma</td>
                        <td>10.01.2001</td>
                        <td>10.04.2003</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri D.C. Samant</td>
                        <td>10.04.2003</td>
                        <td>15.12.2005</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri S.N. Mishr</td>
                        <td>15.12.2005</td>
                        <td>01.02.2007</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Krishna Kumar</td>
                        <td>02.02.2007</td>
                        <td>17.01.2008</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Vyas Shukla</td>
                        <td>18.01.2008</td>
                        <td>30.11.2008</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Avadhu Ram</td>
                        <td>08.12.2008</td>
                        <td>29.12.2008</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Devendra Mohan</td>
                        <td>29.12.2008</td>
                        <td>03.07.2010</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Abrar Ahmad </td>
                        <td>09.07.2010</td>
                        <td>20.05.2013</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Lajpat Rai Adlakha</td>
                        <td>21.05.2013</td>
                        <td>28.02.2014</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Sandeep Agrawal</td>
                        <td>01.03.2014</td>
                        <td>17.08.2016</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Shailendra</td>
                        <td>18.08.2016</td>
                        <td>28.06.2017</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Neeraj Kumar</td>
                        <td>28.06.2017</td>
                        <td>31.03.2018</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Satyendra Naath Singh</td>
                        <td>16.04.2018</td>
                        <td>31.07.218</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Kunal Kulshrestha</td>
                        <td>02.08.2018</td>
                        <td>26.09.2018</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Mahendra Kumar Nigam</td>
                        <td>27.09.2018</td>
                        <td>23.07.2020</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Shri Naveen Kapoor </td>
                        <td>23.07.2020</td>
                        <td>Till Date </td>
                    </tr>




                </tbody>
            </table>
        </div>
        
    </div>
</section>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/APPjs/Common.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {

              GetUpdatedRecords($("#CurrentName").html());
        })


    </script>
}
