
@{
    ViewData["Title"] = "MISLogin";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>MIS Login</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="login-block bod_section">
    <div class="container">
        <div class="login_box">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 login-sec">
                    <h2 class="text-center">MIS Login</h2>
                    <form class="login-form">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                            <input type="password" class="form-control" placeholder="">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                <small>Remember Me</small>
                            </label>
                            <div class="feature-btn" style="text-align: right;">
                                <a href="#" class="bizwheel-btn theme-2">Submit</a>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
</section>
<!-- /End Board of Directors Tabler -->
<style>
    .login-block {
        background: #fff;
        /* fallback for old browsers */
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        float: left;
        width: 100%;
        padding: 50px 0;
    }

    .banner-sec {
        background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
        background-size: cover;
        min-height: 500px;
        border-radius: 0 10px 10px 0;
        padding: 0;
    }

    .login_box {
        background: #6378bf;
        border-radius: 10px;
        box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
        width: 50%;
        margin: 0 auto;
    }

    .carousel-inner {
        border-radius: 0 10px 10px 0;
    }

    .login-sec {
        padding: 50px 80px;
        position: relative;
    }

        .login-sec .form-check-label {
            padding-left: 1.25rem;
            margin-bottom: 0;
            color: #fff;
        }

        .login-sec .copy-text {
            position: absolute;
            width: 80%;
            bottom: 20px;
            font-size: 13px;
            text-align: center;
        }

            .login-sec .copy-text i {
                color: #FEB58A;
            }

            .login-sec .copy-text a {
                color: #E36262;
            }

        .login-sec label.text-uppercase {
            color: #fff;
        }

        .login-sec h2 {
            margin-bottom: 30px;
            font-weight: 800;
            font-size: 30px;
            color: #fff;
        }

            .login-sec h2:after {
                content: " ";
                width: 100px;
                height: 5px;
                background: #2e2751;
                display: block;
                margin-top: 20px;
                border-radius: 3px;
                margin-left: auto;
                margin-right: auto
            }

    .btn-login {
        background: #DE6262;
        color: #fff;
        font-weight: 600;
    }
</style>
