
@{
    ViewData["Title"] = "OngoingProjects";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Ongoing Projects </h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="services_box">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                            <a href="/Home/prayagraj"><img src="../assets1/images/project-images/on-going-project/koraon/001.jpg"> <span class="our_services_text">Fire Station Center Pathartaal, Koraon, Prayagraj</span><span class="arrow_link"><img src="/assets1/images/right-arrow.svg"></span></a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                            <a href="/Home/jhansiongoing"><img src="../assets1/images/project-images/on-going-project/Jhansi/002.jpg"> <span class="our_services_text">Restoration of Capacity of PalraTalab in Distt. Jhansi</span><span class="arrow_link"><img src="../assets1/images/right-arrow.svg"></span></a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                            <a href="/Home/mahoba">
                                <img src="../assets1/images/project-images/on-going-project/Mahoba/013.jpg">
                                <span class="our_services_text">Restoration of Capacity of UrwaraTalab in Distt. Mahoba and PalraTank in Distt Jhansi</span><span class="arrow_link"><img src="../assets1/images/right-arrow.svg"></span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                            <a href="/Home/pondongoing" >
                                <img src="../assets1/images/project-images/on-going-project/Pond/004.jpg">
                                <span class="our_services_text">Pond (Kulpahar Talab 26.02.2015)</span><span class="arrow_link"><img src="../assets1/images/right-arrow.svg"></span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                            <a  href="/Home/varanasi" >
                                <img src="../assets1/images/project-images/on-going-project/Varanasi/008.jpg">
                                <span class="our_services_text">Bhupauli Pump House Project Cost Rs. 4793.18 Lacs</span><span class="arrow_link"><img src="../assets1/images/right-arrow.svg"></span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                            <a href="/Home/kaushambi" >
                                <img src="../assets1/images/project-images/on-going-project/Fire-station-kaushambi/01.jpg">
                                <span class="our_services_text">Fire Station Kaushambi</span><span class="arrow_link"><img src="../assets1/images/right-arrow.svg"></span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                            <a href="/Home/rampur" >
                                <img src="../assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/01.jpg">
                                <span class="our_services_text">Fire Station Milak Rampur</span><span class="arrow_link"><img src="../assets1/images/right-arrow.svg"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /End Board of Directors Tabler -->
