
@{
    ViewData["Title"] = "Pond";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}


<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Pond (Kulpahar Talab 26.02.2015)</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container ongoing-project">
        <div class="title">
            <h2>Pond (Kulpahar Talab 26.02.2015)</h2>
        </div>
        <div class="jhansi">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/01.jpg"><img src="../assets1/images/project-images/on-going-project/Pond/01.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/02.jpg">
                        <img src="../assets1/images/project-images/on-going-project/Pond/02.jpg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/03.jpg"><img src="../assets1/images/project-images/on-going-project/Pond/03.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/04.jpg">
                        <img src="../assets1/images/project-images/on-going-project/Pond/04.jpg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/05.jpg"><img src="../assets1/images/project-images/on-going-project/Pond/05.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/06.jpg">
                        <img src="../assets1/images/project-images/on-going-project/Pond/06.jpg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/07.jpg"><img src="../assets1/images/project-images/on-going-project/Pond/07.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/08.jpg">
                        <img src="../assets1/images/project-images/on-going-project/Pond/08.jpg">

                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/09.jpg">
                        <img src="../assets1/images/project-images/on-going-project/Pond/09.jpg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/10.jpg"><img src="../assets1/images/project-images/on-going-project/Pond/10.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="../assets1/images/project-images/on-going-project/Pond/11.jpg">
                        <img src="../assets1/images/project-images/on-going-project/Pond/11.jpg">

                    </a>
                </div>



            </div>
        </div>
        <div class="back"><a href="ongoing-projects.html"><span class="arrow_link">  <img src="../assets1/images/left-arrow.svg"></span></a></div>

    </div>
</section>
<!-- /End Board of Directors Tabler -->
