@using UPProjects.Models
@model IEnumerable<UPProjects.Models.Proforma>
@{
    ViewData["Title"] = "Proforma";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
    string currentActionName = ViewContext.RouteData.Values["action"].ToString();
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Proforma</h1>
        <span id="CurrentName" style="display:none;">@currentActionName</span>
    </div>
</section>
<section class="bod_section">
    <div class="container">

        <div style="overflow-x:auto">
            <table class="table table-bordered table-hover table-striped css-serial">
                <thead class="thead-dark">
                    <tr>
                        <th>S.N.</th>
                        <th>Title</th>
                        <th>View/ Download</th>
                    </tr>
                </thead>
                <tbody class="">
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td></td>
                            <td>@item.Title</td>
                            <td><a href="@item.FileName" target="_blank" class="download_link">View</a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        
    </div>
</section>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/APPjs/Common.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {

                GetUpdatedRecords($("#CurrentName").html());
        })

         
    </script>
}

