
@{
    ViewData["Title"] = "Project_Photos";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1 ><span id="spnProjectname"></span></h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container ongoing-project">

        <div id="photos"></div>
        @*<div class="jhansi">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="assets/images/project-images/completed-project/Meerut/12.jpg"><img src="assets/images/project-images/completed-project/Meerut/12.jpg"> </a>
                </div>


            </div>
        </div>*@
        <div class="back"><a id="idback" ><span class="arrow_link">  <img src="/assets1/images/left-arrow.svg"></span></a></div>

    </div>
</section>

@section Scripts{
    <script src="~/APPjs/GetQuerryString.js"></script>
    <script src="~/APPjs/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var unit = getQuerryStringDataByName("unit", "");
            var pid = getQuerryStringDataByName("pid", "");
            $('#idback').attr("href", "/home/projects?units=" + unit);
            BindImages(unit, pid);
             GetUpdatedRecords("ongoingprojects_uppcl");
    });

        function BindImages(unit,pid) {
            $('#loader').css("display","block");
            $.get('@Url.Action("GetOnGoingProjectPhotos","Home")', {
                unit:unit, ProjectId:pid
    }, function (data) {
                    try {                        
                        var htmlCont = '<div class="jhansi"> ';                       
                        $('#photos').empty();
                        var year = '', month = '';
                        var isfirst = 1;
                        $('#spnProjectname').text(data[0].ProjectTitle);
                        $.each(data, function (key, value) {                            
                            if (year === value.Year && month === value.Month) { }
                            else {
                                if (isfirst === 1) {
                                    htmlCont = htmlCont + '   <div class="row"><div class="col-md-12"><div class="project_month_year">Year: <span class="project_year">' + (value.Year).toString() + '</span>, Month: <span class="project_year">' + (value.Month).toString() + '</span><hr> </div></div>';
                                    isfirst = 0;
                                }
                                else
                                    htmlCont = htmlCont + '</div>   <div class="row"><div class="col-md-12"><div class="project_month_year">Year: <span class="project_year">' + (value.Year).toString() + '</span>, Month: <span class="project_year">' + (value.Month).toString() + '</span><hr> </div></div>';
                            }                             
                       htmlCont = htmlCont + ' <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><a data-fancybox="gallery" href="/upload/ProgressPhoto/' + (value.Id).toString() + '/' + (value.FileName).toString() + '">' +
                                '<img src="/upload/ProgressPhoto/' + (value.Id).toString() + '/' + (value.FileName).toString() + '"> </a></div>';      


                            year = value.Year;
                            month = value.Month;                            
                        });
                        $('#photos').append(htmlCont+'</div>');
                        $('#loader').css("display", "none");
        }
                    catch (err) {
                        $('#loader').css("display","none");
        }
            }).done(function (data) {
        $('#loader').css("display","none");
        })
                .fail(function (data) {
            $('#loader').css("display","none");
        });
        }
    </script>

}
