
@{
    ViewData["Title"] = "rampur";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Fire Station Milak Rampur</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container ongoing-project">

        <div class="jhansi">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/16.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/16.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/15.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/15.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/14.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/14.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/13.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/13.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/12.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/12.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/11.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/11.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/10.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/10.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/9.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/9.jpg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/8.jpeg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/8.jpeg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/7.jpeg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/7.jpeg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/6.jpeg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/6.jpeg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/5.jpeg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/5.jpeg">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/4.jpeg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/4.jpeg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/3.jpeg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/3.jpeg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/2.jpeg">
                        <img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/2.jpeg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/01.jpg"><img src="/assets1/images/project-images/on-going-project/Fire-station-Milak-rampur/01.jpg"> </a>
                </div>

            </div>
        </div>
        <div class="back"><a href="/Home/OngoingProjects"><span class="arrow_link">  <img src="/assets1/images/left-arrow.svg"></span></a></div>

    </div>
</section>
<!-- /End Board of Directors Tabler -->
