
@{
    ViewData["Title"] = "SecurityPolicy";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}


<section class="feature_section feature_img">
    <div class="container">
        <h1>Security Policy</h1>
    </div>
</section>
<section class="bod_section">
    <div class="container">
        <div class="policies vision_list">

            <h5>
                Site Security
            </h5>
            <p>
                For site security purposes and to ensure that this service remains available to all users, the Government computer system employs commercial software programs to monitor network traffic to identify Unauthorised attempts to upload or change information, or otherwise cause damage.

            </p>
            <p>
                Except for Authorised law enforcement investigations, no other attempts are made to identify individual users or their usage habits. Raw data logs are used for no other purposes and are scheduled for regular deletion.

            </p>
            <p>
                Unauthorised attempts to upload information or change information on this service are strictly prohibited and may be punishable under the Indian IT Act.
            </p>
        </div>
    </div>
</section>


