
@{
    ViewData["Title"] = "Site Map";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Site Map</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <div class="site_map_box">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <ul class="site_map_list">
                        <h5>Home</h5>
                        <li><a href="/Home/Index">Index</a></li>
                    </ul>

                    <ul class="site_map_list">
                        <h5>About Us</h5>

                        <!-- <h6>Organization Structure</h6> -->
                        <li>
                            <a href="/Home/boardofdirectors">
                                Board of
                                Directors
                            </a>
                        </li>
                        <li><a href="/Home/organizationstructure">Organization Structure</a></li>
                        <li>
                            <a href="/Home/managingdirectors">
                                Managing
                                Directors
                            </a>
                        </li>
                        <li>
                            <a href="/Home/chiefgenmanagers">
                                Chief
                                General Managers
                            </a>
                        </li>
                        <li><a href="/Home/vision2020">Vision, Mission &amp; Value</a></li>
                        <!-- <li><a href="under_construction.html">Retired Officers List</a></li> -->
                        <li><a href="/Home/ProfileofCorporations">Company Profile</a></li>
                        <li><a href="/Home/ISOcertificate">ISO Certificate</a></li>
                        <li><a href="assets1/images/csr_policy.pdf" target="_blank">CSR Policy</a></li>
                        <li><a href="/Home/achievements">Achievements</a></li>
                        <!-- <h6>Messages</h6> -->
                        <li><a href="/Home/underconstruction">Message of Hon'ble Minister</a></li>

                        <li><a href="/Home/chairman">Message of Chairman</a></li>
                        <li><a href="/Home/mdmessage">Message of MD</a></li>
                    </ul>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <ul class="site_map_list">
                        <h5>Projects</h5>
                        <li><a href="/Home/ongoingprojects_uppcl">Ongoing Projects </a></li>
                        <li><a href="/Home/completedprojects">Completed Projects </a></li>
                    </ul>
                    <ul class="site_map_list">
                        <h5>Online Registration</h5>
                        <li><a href="/home/RegContractor">Registration for Contractor</a></li>
                        <li><a href="/home/architectTC">Registration for Architecture</a></li>
                    </ul>
                    <ul class="site_map_list">
                        <h5>Progress Report</h5>
                        <li><a href="assets/images/CM_July-20.pdf" target="_blank">CM Announcements </a></li>
                        <li><a href="/Home/MonthlyProgressReport">Monthly Progress Report</a></li>
                        <li>
                            <a href="assets/images/yearly_work_report.pdf" target="_blank">
                              Monthly Compiled Report
                            </a>
                        </li>
                        <li><a href="/Home/financial">Financial Position of Corporation</a></li>
                    </ul>
                    <ul class="site_map_list">
                        <h5>Gallery</h5>
                        <li>
                            <a href="/Home/Photo_album">
                                Photo
                                Gallery
                            </a>
                        </li>
                        <li><a href="/Home/VideoGallery">Video Gallery</a></li>
                       
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <ul class="site_map_list">
                        <h5>Downloads</h5>

                        <li>
                            <a href="/Home/Tenders">Tender &amp; Notice</a>
                        </li>
                        <li>
                            <a href="/Home/EOI">EOI</a>
                        </li>
                        <li><a href="/Home/GOS">GO's</a></li>
                        <li><a href="/Home/Proforma">Proforma</a></li>
                        <li>
                            <a href="under_construction.html">
                                List of
                                Registered Contractors
                            </a>
                        </li>

                        <li>
                            <a href="/Home/listofstateofgstnumber">
                                List
                                of State GST Number
                            </a>
                        </li>

                    </ul>
                    <ul class="site_map_list">
                        <h5>Contact Us</h5>
                        <li>
                            <a href="/Home/webdirectory">
                                Web
                                Directory
                            </a>
                        </li>
                        <li><a href="/Home/ReachUs">Reach Us</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- /End Board of Directors Tabler -->
