
@{
    ViewData["Title"] = "UnderConstruction";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Under Construction</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <h2 style="text-align: center;">This Page is Under Construction</h2>
    </div>
</section>
<!-- /End Board of Directors Tabler -->
