
@{
    ViewData["Title"] = "UpcomingProjects";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Upcoming Projects </h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container ongoing-project">
        <div class="title">
            <h2>Upcoming Projects </h2>
        </div>
        <div class="row pic-project">
            <div class="col-md-3 ">
                <div class="pic">
                    <a href="#">
                        <div class="img-1"><img src="../assets1/images/project-images/UpComing/03.jpg" width=""></div>
                        <div class="img-2"><img src="../assets1/images/project-images/UpComing/03.jpg" width=""></div>
                        <div class="img-3"><img src="../assets1/images/project-images/UpComing/03.jpg" width=""></div>
                        <div class="content-project">
                            <p>Proposed Weir at 2.00km. D/S of Gomti Barrage</p>
                        </div>
                    </a>
                </div>
            </div>







        </div>

        <div class="light"></div>
    </div>
</section>
<!-- /End Board of Directors Tabler -->
