
@{
    ViewData["Title"] = "Vacancy";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<section class="feature_section feature_img">
    <div class="container">
        <h1>Vacancy </h1>
    </div>
</section>

<section class="bod_section">
    <div class="container">
        <div class="title">
            <h2 style="text-align: center; margin-bottom: 20px;">
                यू०पी० प्रोजेक्ट्स कारपोरेशन लिमिटेड
                गोमती बैराज, बांया तट, गोमतीनगर,
                लखनऊ
            </h2>


        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="v-form mt-4" style="margin-bottom: 20px;">
                        <div class="vacancy">
                            <a class=" text-black" href="">
                                <span class="float-right"></span>
                                <h6>
                                    संख्या 2614 / पीसीएल/ मुख्यालय / एपीएम (संविदा) <span class="float-right">दिनांक : 09/09/2020</span>
                                </h6>

                            </a>
                            <br />
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;यू०पी०
                                प्रोजेक्ट्स कारपोरेशन लि० की विभिन्‍न
                                जनपदों में कार्यरत इकाइयों हेतु
                                उत्तर प्रदेश के
                                राजकीय विभागों,/निगमों से सेवानिवृत्त कार्मिकों को संविदा के आधार पर ॥॥ माह की
                                अवधि के लिए रखा
                                जाना है, का विवरण निम्नानुसार हैः-
                            </p>
                            <div>
                                <div class="table-responsive mt-4">
                                    <table class="table table-borderless">
                                        <tr>
                                            <td>1. सेवानिवृत्ति के समय पदनाम :.</td>
                                            <td>सहायक अभियन्ता /सहायक परियोजना प्रबन्धक</td>
                                        </tr>
                                        <tr>
                                            <td>2. शैक्षिक योग्यता</td>
                                            <td>
                                                सिविल/यांत्रिक / विद्युत इंजीनियरिंग में डिग्री अथवा डिप्लोमा।
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2. आयु सीमा-</td>
                                            <td>अधिकतम 64 वर्ष </td>
                                        </tr>
                                        <tr>
                                            <td>3. अनुभव</td>
                                            <td>
                                                सिविल/यांत्रिक,/ वैद्युत कार्यो का कम से कम 30 वर्षो का अनुभव |
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4. पदस्थापना-</td>
                                            <td>देश के किसी भी जनपद में।</td>
                                        </tr>
                                        <tr>
                                            <td>5. आवेदन जमा करने की अन्तिम तिथि:</td>
                                            <td>21.09.2020</td>
                                        </tr>
                                        <tr>
                                            <td>6. आवेदन जमा करने का पता:</td>
                                            <td>
                                                महाप्रबन्धक (प्रशासन), यू०पी० प्रोजेक्ट्स कारपोरेशन लि०, बांया
                                                तट, गोमती बैराज, गोमतीनगर, लखनऊ- 22600
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                अभ्यर्थी द्वारा यह प्रमाण-पत्र दिया जायेगा कि सेवानिवृत्ति के
                                                पूर्व
                                                के
                                                * 05 वर्षो में उसके विरूद्द कोई जांच अथवा वसूली की धनराशि आदि
                                                शेष तो नहीं थी।
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                नोट:- 1. अभ्यर्थी के सेवानिवृत्ति पूर्व के 05 वर्षो
                                                में
                                                सम्पादित
                                                कराये
                                                गये
                                                कार्यो का मूल्यांकन / व्यक्तित्व
                                                परीक्षण करने के उपरान्त संविदा पर नियुक्त किये जाने के संबंध में
                                                निर्णय
                                                लिया जायेगा।
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                2. नियुक्ति का आधार योग्यता का मूल्यांकन एवं
                                                साक्षात्कार
                                                होगा।
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td>
                                            </td>
                                            <td class="float-right">
                                                (शैलेश सिंह)<br />
                                                महाप्रबन्धक (प्रशासन)
                                            </td>
                                        </tr>*@
                                    </table>
                                </div>
                            </div>


                        </div>

                    </div>






                </div>
            </div>
        </div>

    </div>
</section>
<!-- /End Board of Directors Tabler -->
