
@{
    ViewData["Title"] = "varanasi";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Bhupauli Pump House Project Cost Rs. 4793.18 Lacs</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container ongoing-project">

        <div class="jhansi">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/01.jpg"><img src="/assets1/images/project-images/on-going-project/Varanasi/01.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/02.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Varanasi/02.jpg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/03.jpg"><img src="/assets1/images/project-images/on-going-project/Varanasi/03.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/04.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Varanasi/04.jpg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/05.jpg"><img src="/assets1/images/project-images/on-going-project/Varanasi/05.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/06.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Varanasi/06.jpg">

                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/07.jpg"><img src="/assets1/images/project-images/on-going-project/Varanasi/07.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/08.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Varanasi/08.jpg">

                    </a>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/10.jpg"><img src="/assets1/images/project-images/on-going-project/Varanasi/10.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/11.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Varanasi/11.jpg">

                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/12.jpg"><img src="/assets1/images/project-images/on-going-project/Varanasi/12.jpg"> </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 no-padding">
                    <a data-fancybox="gallery" href="/assets1/images/project-images/on-going-project/Varanasi/13.jpg">
                        <img src="/assets1/images/project-images/on-going-project/Varanasi/13.jpg">

                    </a>
                </div>

            </div>
        </div>
        <div class="back"><a href="/Home/OngoingProjects"><span class="arrow_link">  <img src="/assets1/images/left-arrow.svg"></span></a></div>

    </div>
</section>
<!-- /End Board of Directors Tabler -->
