
@{
    ViewData["Title"] = "WebManager";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<!-- Feature header -->
<section class="feature_section feature_img">
    <div class="container">
        <h1>Web Manager</h1>
    </div>
</section>
<!--/ End Hero Slider -->
<!-- Board of Directors Table -->
<section class="bod_section">
    <div class="container">
        <div class="web_manager" style="overflow-x:auto;">
            <table class="scheme_table table table-responsive table-bordered table-striped">
                <thead class="
                        thead-dark">
                    <tr>
                        <th style="width:200px;">Pic </th>
                        <th>Heading</th>
                        <th>Details</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4">
                            <img src="../assets1/images/user-image.png" style="border-radius: 50%;
                                    border:1.5px solid #ff5722;">
                        </td>
                        <th>Name</th>
                        <td>Sumit Kumar</td>
                    </tr>
                    <tr>
                        <th>Designation </th>
                        <td>IT Manager</td>
                    </tr>
                    <tr>
                        <th>Phone/ Fax No</th>
                        <td><a href="#" style="color:#cc6f2c">8318074212</a></td>
                    </tr>
                    <tr>
                        <th>E-mail Address</th>
                        <td>
                            <a href="#" style="color:#cc6f2c">info@upprojects.org</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- /End Board of Directors Tabler -->
