
@{
    ViewData["Title"] = "PhotoGalleryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">List Of Photos</h4>
            <div style="float:right;">
                <a href="/Gallery/PhotoGallery" class="btn btn-outline-primary btn-rounded btn-fw">Upload New Photo</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered " id="tblData">
                        <thead class="thead-light">
                            <tr>
                                <th> # </th>
                                <th>Album (English)</th>
                                <th>Album (Hindi)</th>
                                <th>Photo</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(document).ready(function () {
            BindTable();
    });
        function BindTable() {
            $.get('@Url.Action("PhotoGalleryUploadedList","Gallery")', {
    }, function (data) {
                    try {
                        BindDataTable(data);
        }
        catch (err) {
        }
    })
        .done(function (data) {
        })
        .fail(function (data) {
        });
        }

        function BindDataTable(data) {
              debugger;
            if (data.length > 0) {
                $("#tblData").DataTable({
                    data: data,
                    "oLanguage": {
                        "emptyTable": "No record exist."
                    },
                   "searching": true,
                    "paging": true,
                    "lengthMenu": [[-1, 100, 50, 10], ["All", 100, 50, 10]],
                    columns: [
                        {
                            'data': null,
                            'render': function (data, type, fill, meta) {
                                return meta.row + 1;
                            }
                        },
                        { "data": "AlbumTitleName" },
                       
                       { "data": "HNAlbumTitleName" },
                        { "data": "FileNameButton" },
                         
                        { "data": "EditButton" },
                        { "data": "DeleteButton" },
                    ],
                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                        $("td:nth-child(1)", nRow).html(nRow._DT_RowIndex + 1);
                        return nRow;
                    },
                    responsive: true,
                    "bDestroy": true
                });
            }
            else {
                 $("#tblData tbody").empty();
            }
        }

        var onBegin = function () {
            if (confirm('Are you sure?')) {
                $('#loader').css("display", "block");
                return true;
            }
            else
                return false;
        };
        var onComplete = function (result) {
           
            //  BindDataTable(result);
            $('#loader').css("display", "none");
        };
        var onSuccess = function (Response) {
           
            BindDataTable(Response);
        };
        var onFailed = function () {
              $('#loader').css("display", "none");
        };
    </script>

}
