
@{
    ViewData["Title"] = "Copyright";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

    <section class="feature_section feature_img">
        <div class="container">
            <h1>Copyright Policy</h1>
        </div>
    </section>
    <section class="bod_section">
        <div class="container">
            <div class="policies vision_list">
                <p>
                    Material on this site is subject to copyright protection unless otherwise indicated. The material in form of file or printable matter may be downloaded without requiring specific prior permission. Any other proposed use of the material is subject to the approval of Scheduled Castes and Scheduled Tribes Research and Training Institute of Uttar Pradesh
                </p>
                <p>
                    Application for obtaining permission should be made to <a href="mailto:info@upprojects.org">info@upprojects.org</a>
                </p>

            </div>
        </div>
    </section>

