
@{
    ViewData["Title"] = "help";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

    <section class="feature_section feature_img">
        <div class="container">
            <h1>Help from Organization</h1>
        </div>
    </section>
    <section class="bod_section">
        <div class="container">
            <div class="policies vision_list">
                <p>
                    This website includes some content that is available in non-HTML format. They might not be
                    visible properly if your browser does not have the required plug-ins.
                </p>
                <p>
                    For example, Acrobat Reader software is required to view Adobe Acrobat PDF files. If you do not
                    have this software installed on your computer, you can download it for free. The following table
                    lists some plug-ins that you will require
                </p>
                <div style="overflow-x: auto;">
                    <table class="table table-bordered table-hover table-striped css-serial">
                        <thead class="thead-dark">
                            <tr>
                                <th>S.N.</th>
                                <th>Document Type</th>
                                <th>Download</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>PDF content </td>
                                <td>
                                    <a href="https://get.adobe.com/reader/" class="policy_mail">
                                        Adobe Acrobat
                                        Reader
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Word files</td>
                                <td>
                                    <p>
                                        If you have already installed MS Word [Version 2003, 2007 or 2010] or
                                        OpenOffice then you can
                                        directly view Word files or you can download from below links.
                                    </p>
                                    <p>
                                        <a href="https://www.microsoft.com/en-in/download/404Error.aspx" class="policy_mail">
                                            Word Viewer
                                            2003 (in any version till 2003)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="https://www.microsoft.com/en-in/download/404Error.aspx" class="policy_mail">
                                            Microsoft
                                            Office Compatibility Pack for Word (for 2007 version)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="http://download.openoffice.org/index.html" class="policy_mail">
                                            Open
                                            Office
                                        </a>
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>Excel files</td>
                                <td>
                                    <p>
                                        If You have already installed MS Excel [Version 2003, 2007 or 2010] or
                                        OpenOffice then you can
                                        directly view Excel files or you can download from below links.
                                    </p>
                                    <p>
                                        <a href="https://www.microsoft.com/en-in/download/404Error.aspx" class="policy_mail">
                                            Excel
                                            Viewer 2003 (in any version till 2003)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="http://microsoft.com/en-in/download/details.aspx?id=33298" class="policy_mail">
                                            Microsoft
                                            Office Compatibility Pack for Excel (for 2007 version)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="http://www.openoffice.org/download/index.html" class="policy_mail">
                                            OpenOffice
                                        </a>
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>PowerPoint presentations</td>
                                <td>
                                    <p>
                                        If You have already installed MS PowerPoint [Version 2003, 2007 or 2010] or
                                        OpenOffice then you
                                        can directly view PowerPoint files or you can download from below links.
                                    </p>
                                    <p>
                                        <a href="https://www.microsoft.com/en-in/download/details.aspx?id=15998" class="policy_mail">
                                            PowerPoint Viewer 2003 (in any version till 2003)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="https://www.microsoft.com/en-in/download/404Error.aspx" class="policy_mail">
                                            Microsoft
                                            Office Compatibility Pack for Excel (for 2007 version)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="http://www.openoffice.org/download/index.html" class="policy_mail">
                                            OpenOffice
                                        </a>
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>Flash content</td>
                                <td>
                                    <p>
                                        <a href="https://www.adobe.com/in/creativecloud/plans.html?red=a" class="policy_mail">
                                            Adobe
                                            Flash Player
                                        </a>
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>Audio/Video Files</td>
                                <td>
                                    <p><a href="https://www.adobe.com/in/creativecloud/plans.html?red=a" class="policy_mail"> Windows Media Player</a></p>
                                    <p><a href="http://pk.real.com/?mode=rp" class="policy_mail"> RealPlayer</a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5>Screen Reader Access</h5>
                <p>
                    UP Projects Corporation Ltd. (An Undertaking of UP Government) website complies with World Wide
                    Web Consortium (W3C) Web Content Accessibility Guidelines (WCAG) 2.0 level AA. This will enable
                    people with visual impairments access the website using Assistive technologies, such as screen
                    readers. The information of the website is accessible with different screen readers.
                </p>
                <h5>Speech Recognition Support</h5>
                <p>
                    The information of the website is accessible with different speech recognition software, such as
                    Dragon Naturally Speaking as well as Speech Recognition support available in Windows Vista and
                    Windows 7 operating systems. This will enable people with mobility impairments, people with
                    visual impairments and senior citizens access the website using Assistive technologies, such as
                    speech recognition software.
                </p>
                <h5>Using the Search Facility</h5>
                <p>
                    The Search facility is located at the top right hand corner of all the pages. The Basic Search
                    enables you to search for a website using word OR phrase in site Title OR URL.
                </p>
                <h5>Sitemap</h5>
                <p>
                    You can visit <a href="/Home/SiteMap">Site Map </a>page to get an overall view of the contents of
                    this site. You can also navigate around the site by clicking on the Sitemap link.
                </p>
               
                <h5>
                    Do you need further help?
                </h5>
                <p>
                    If you need further help, please <a href="/Home/ReachUs">Contact us</a>
                </p>


            </div>
        </div>
    </section>

