
@{
    ViewData["Title"] = "HNCopyright";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
}

    <section class="feature_section feature_img">
        <div class="container">
            <h1>कॉपीराइट नीति</h1>
        </div>
    </section>
    <section class="bod_section">
        <div class="container">
            <div class="policies vision_list">
                <p>
                    इस साइट पर सामग्री कॉपीराइट सुरक्षा के अधीन है जब तक कि अन्यथा संकेत न दिया गया हो। फ़ाइल या मुद्रण योग्य सामग्री के रूप में सामग्री को विशिष्ट पूर्व अनुमति की आवश्यकता के बिना डाउनलोड किया जा सकता है। सामग्री का कोई अन्य प्रस्तावित उपयोग उत्तर प्रदेश के अनुसूचित जाति और अनुसूचित जनजाति अनुसंधान और प्रशिक्षण संस्थान के अनुमोदन के अधीन है।
                </p>
                <p>
                    अनुमति प्राप्त करने के लिए आवेदन  <a href="mailto:info@upprojects.org">info@upprojects.org</a> पर किया जाना चाहिए।
                </p>

            </div>
        </div>
    </section>

