
@{
    ViewData["Title"] = "Hnhelp";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
}

    <section class="feature_section feature_img">
        <div class="container">
            <h1>मदद</h1>
        </div>
    </section>
    <section class="bod_section">
        <div class="container">
            <div class="policies vision_list">
                <p>
                    इस वेबसाइट में कुछ सामग्री शामिल है जो गैर-HTML प्रारूप में उपलब्ध है। यदि आपके ब्राउज़र में आवश्यक प्लग-इन नहीं है तो वे ठीक से दिखाई नहीं दे सकते हैं।
                </p>
                <p>उदाहरण के लिए, एडोब एक्रोबेट पीडीएफ फाइलों को देखने के लिए एक्रोबैट रीडर सॉफ्टवेयर की आवश्यकता होती है। यदि आपके पास यह सॉफ़्टवेयर आपके कंप्यूटर पर स्थापित नहीं है, तो आप इसे मुफ्त में डाउनलोड कर सकते हैं। निम्न तालिका कुछ प्लग-इन को सूचीबद्ध करती है जिनकी आपको आवश्यकता होगी।</p>
                <div style="overflow-x: auto;">
                    <table class="table table-bordered table-hover table-striped css-serial">
                        <thead class="thead-dark">
                            <tr>
                                <th>क्र.सं.</th>
                                <th>दस्तावेज़ का प्रकार</th>
                                <th>डाउनलोड</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>पीडीएफ सामग्री </td>
                                <td>
                                    <a href="https://get.adobe.com/reader/" class="policy_mail">
                                        Adobe Acrobat
                                        Reader
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>वर्ड फ़ाइलें</td>
                                <td>
                                    <p>
                                        यदि आप पहले से ही MS Word [संस्करण 2003, 2007 या 2010] या स्थापित कर चुके हैं
                                        OpenOffice तो आप कर सकते हैं
                                        सीधे वर्ड फाइलें देखें या आप नीचे दिए गए लिंक से डाउनलोड कर सकते हैं।
                                    </p>
                                    <p>
                                        <a href="https://www.microsoft.com/en-in/download/404Error.aspx" class="policy_mail">
                                            Word Viewer
                                            2003 (in any version till 2003)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="https://www.microsoft.com/en-in/download/404Error.aspx" class="policy_mail">
                                            Microsoft
                                            Office Compatibility Pack for Word (for 2007 version)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="http://download.openoffice.org/index.html" class="policy_mail">
                                            Open
                                            Office
                                        </a>
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>एक्सेल फाइल</td>
                                <td>
                                    <p>
                                        यदि आपने MS Excel [संस्करण 2003, 2007 या 2010] या OpenOffice पहले ही स्थापित कर लिया है तो आप सीधे Excel फ़ाइलों को देख सकते हैं या आप नीचे दिए गए लिंक से डाउनलोड कर सकते हैं।
                                    </p>
                                    <p>
                                        <a href="https://www.microsoft.com/en-in/download/404Error.aspx" class="policy_mail">
                                            Excel
                                            Viewer 2003 (in any version till 2003)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="http://microsoft.com/en-in/download/details.aspx?id=33298" class="policy_mail">
                                            Microsoft
                                            Office Compatibility Pack for Excel (for 2007 version)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="http://www.openoffice.org/download/index.html" class="policy_mail">
                                            OpenOffice
                                        </a>
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>पावरपॉइंट प्रस्तुति</td>
                                <td>
                                    <p>
                                        यदि आपने MS PowerPoint [संस्करण 2003, 2007 या 2010] या पहले ही स्थापित कर लिया है
                                        OpenOffice तो आप
                                        सीधे PowerPoint फ़ाइलें देख सकते हैं या आप नीचे दिए गए लिंक से डाउनलोड कर सकते हैं।
                                    </p>
                                    <p>
                                        <a href="https://www.microsoft.com/en-in/download/details.aspx?id=15998" class="policy_mail">
                                            PowerPoint Viewer 2003 (in any version till 2003)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="https://www.microsoft.com/en-in/download/404Error.aspx" class="policy_mail">
                                            Microsoft
                                            Office Compatibility Pack for Excel (for 2007 version)
                                        </a>
                                    </p>
                                    <p>
                                        <a href="http://www.openoffice.org/download/index.html" class="policy_mail">
                                            OpenOffice
                                        </a>
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td>फ़्लैश सामग्री</td>
                                <td>
                                    <p>
                                        <a href="https://www.adobe.com/in/creativecloud/plans.html?red=a" class="policy_mail">
                                            Adobe
                                            Flash Player
                                        </a>
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>ऑडियो / वीडियो फ़ाइलें</td>
                                <td>
                                    <p><a href="https://www.adobe.com/in/creativecloud/plans.html?red=a" class="policy_mail"> Windows Media Player</a></p>
                                    <p><a href="http://pk.real.com/?mode=rp" class="policy_mail"> RealPlayer</a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5>स्क्रीन रीडर एक्सेस</h5>
                <p>
                    यूपी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड (यूपी सरकार का एक उपक्रम) वेबसाइट वर्ल्ड वाइड का अनुपालन करती है
                    वेब कंसोर्टियम (W3C) वेब कंटेंट एक्सेसिबिलिटी गाइडलाइंस (WCAG) 2.0 स्तर AA। यह सक्षम करेगा
                    दृश्य हानि वाले लोग स्क्रीन के रूप में सहायक तकनीकों का उपयोग करके वेबसाइट तक पहुंचते हैं
                    पाठकों। वेबसाइट की जानकारी विभिन्न स्क्रीन पाठकों के साथ उपलब्ध है।
                </p>
                <h5>भाषण मान्यता समर्थन</h5>
                <p>
                    वेबसाइट की जानकारी अलग-अलग भाषण मान्यता सॉफ्टवेयर के साथ सुलभ है, जैसे कि
                    ड्रैगन नेचुरली स्पीकिंग और साथ ही विंडोज विस्टा में उपलब्ध स्पीच रिकग्निशन सपोर्ट
                    विंडोज 7 ऑपरेटिंग सिस्टम। यह गतिशीलता हानि वाले लोगों को सक्षम करेगा, जिनके साथ लोग हैं
                    दृश्य हानि और वरिष्ठ नागरिक सहायक तकनीकों का उपयोग करके वेबसाइट तक पहुंचते हैं, जैसे कि
                    भाषण मान्यता सॉफ्टवेयर।
                </p>
                <h5>खोज सुविधा का उपयोग करना</h5>
                <p>
                    खोज सुविधा सभी पृष्ठों के ऊपरी दाएँ हाथ के कोने पर स्थित है। मूल खोज
                    साइट शीर्षक या URL में शब्द या वाक्यांश का उपयोग करके आपको एक वेबसाइट खोजने में सक्षम बनाता है।
                </p>
                <h5>साइटमैप</h5>
                <p>
                    इस साइट की सामग्री का समग्र दृश्य प्राप्त करने के लिए आप <a href="/HnHome/siteMap">साइट मैप </a>पेज पर जा सकते हैं। साइटमैप लिंक पर क्लिक करके आप साइट पर भी जा सकते हैं।

                </p>
                
                <h5>
                    क्या आपको और मदद की ज़रूरत है?
                </h5>
                <p>
                    यदि आपको और सहायता की आवश्यकता हो, तो कृपया <a href="/HnHome/ReachUs">हमसे संपर्क करें।</a>
                </p>


            </div>
        </div>
    </section>

