
@{
    ViewData["Title"] = "HNhyperlink";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
}

    <section class="feature_section feature_img">
        <div class="container">
            <h1>हाइपरलिंकिंग नीति</h1>
        </div>
    </section>
    <section class="bod_section">
        <div class="container">
            <div class="policies vision_list">
                <p>
                    हाइपरलिंक्स को किसी भी वेबसाइट से इस साइट पर निर्देशित करने से पहले पूर्व अनुमति आवश्यक है। उसी के लिए अनुमति, जहां लिंक दिया जाना है, जहां से पृष्ठों पर सामग्री की प्रकृति को बताते हुए और <a href="mailto:info@upprojects.org">info@upprojects.org</a> पर एक अनुरोध भेजकर हाइपरलिंक की सटीक भाषा प्राप्त की जानी चाहिए।
                </p>

            </div>
        </div>
    </section>
