
@{
    ViewData["Title"] = "HNPolicy";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
}

    <section class="feature_section feature_img">
        <div class="container">
            <h1>गोपनीयता नीति</h1>
        </div>
    </section>
    <section class="bod_section">
        <div class="container">
            <div class="policies vision_list">
                <p>
                    यूपी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड (यूपी सरकार का एक उपक्रम) की वेबसाइट पर आने और हमारी गोपनीयता
                    नीति की समीक्षा करने के लिए धन्यवाद।
                </p>
                <p>
                    जब आप हमारी वेबसाइट पर जाते हैं तो हम कोई भी व्यक्तिगत जानकारी, जैसे नाम या पते, एकत्र नहीं करते
                    हैं। यदि आप हमें वह जानकारी प्रदान करना चुनते हैं, तो इसका उपयोग केवल जानकारी के लिए आपके अनुरोध
                    को पूरा करने के लिए किया जाता है।
                </p>

                <p>
                    जब आप अपनी यात्रा को सहज बनाने के लिए जाते हैं तो हम कुछ तकनीकी जानकारी एकत्र करते हैं। नीचे दिए
                    गए अनुभाग में बताया गया है कि जब आप हमारी वेबसाइट पर जाते हैं तो हम तकनीकी जानकारी कैसे संभालते
                    हैं और इकट्ठा करते हैं।
                </p>

                <p>स्वचालित रूप से संग्रहीत और संग्रहीत जानकारी:</p>
                <p>
                    जब आप इस वेबसाइट पर ब्राउज़ करते हैं, पृष्ठ पढ़ते हैं या जानकारी डाउनलोड करते हैं, तो हम आपकी
                    यात्रा के बारे में कुछ तकनीकी जानकारी को स्वचालित रूप से इकट्ठा करते हैं और संग्रहीत करते हैं।
                    यह जानकारी कभी भी यह नहीं बताती है कि आप कौन हैं। आपकी यात्रा के बारे में हम जो जानकारी एकत्र
                    करते हैं और संग्रहीत करते हैं, वह नीचे सूचीबद्ध है।
                </p>

                <ul class=" list-unstyled visison_list">
                    <li>
                        आपके सेवा प्रदाता का इंटरनेट डोमेन (उदा। Mtnl.net.in) और आईपी पता (एक आईपी पता एक संख्या है
                        जो स्वचालित रूप से आपके कंप्यूटर को सौंपा जाता है जब भी आप वेब सर्फ कर रहे होते हैं) जिससे
                        आप हमारी वेबसाइट तक पहुँचते हैं।
                    </li>
                    <li>
                        ब्राउज़र के प्रकार (जैसे क्रोम, फ़ायरफ़ॉक्स, नेटस्केप या इंटरनेट एक्सप्लोरर) और ऑपरेटिंग
                        सिस्टम (विंडोज, लिनक्स) हमारी साइट तक पहुंचने के लिए उपयोग किए जाते हैं।
                    </li>
                    <li>जिस तारीख और समय पर आपने हमारी साइट तक पहुंच बनाई है।</li>
                    <li>आपके द्वारा देखे गए पृष्ठ / URL और</li>
                    <li>यदि आप किसी अन्य वेबसाइट से इस वेबसाइट पर पहुंचे, तो उस रेफ़रिंग वेबसाइट का पता।</li>

                </ul>
                <p>
                    इस जानकारी का उपयोग केवल साइट को आपके लिए अधिक उपयोगी बनाने में हमारी सहायता के लिए किया जाता है।
                    इस डेटा के साथ, हम अपनी साइट पर आगंतुकों की संख्या और हमारे आगंतुकों द्वारा उपयोग की जाने वाली
                    तकनीक के प्रकारों के बारे में सीखते हैं। हम कभी भी व्यक्तियों और उनकी यात्राओं के बारे में
                    जानकारी को ट्रैक या रिकॉर्ड नहीं करते हैं।
                </p>
                <h5>कुकीज़</h5>
                <p>
                    जब आप कुछ वेबसाइटों पर जाते हैं, तो वे आपके कंप्यूटर / ब्राउज़िंग डिवाइस पर कुकीज़ के रूप में
                    जाने वाले सॉफ़्टवेयर के छोटे टुकड़े डाउनलोड कर सकते हैं। कुछ कुकीज़ भविष्य में आपके कंप्यूटर को
                    पहचानने के लिए व्यक्तिगत जानकारी एकत्र करती हैं। हम केवल गैर-स्थायी कुकीज़ या "प्रति सत्र
                    कुकीज़" का उपयोग करते हैं।
                </p>
                <p>
                    प्रति सत्र कुकीज़ तकनीकी उद्देश्यों की पूर्ति करती हैं, जैसे इस वेबसाइट के माध्यम से निर्बाध
                    नेविगेशन प्रदान करना। ये कुकीज़ उपयोगकर्ताओं की व्यक्तिगत जानकारी एकत्र नहीं करती हैं और जैसे ही
                    आप हमारी वेबसाइट छोड़ते हैं, उन्हें हटा दिया जाता है। कुकीज़ स्थायी रूप से डेटा रिकॉर्ड नहीं
                    करती हैं और वे आपके कंप्यूटर की हार्ड ड्राइव पर संग्रहीत नहीं होती हैं। कुकीज़ स्मृति में
                    संग्रहीत हैं और केवल एक सक्रिय ब्राउज़र सत्र के दौरान उपलब्ध हैं। दोबारा, अपने ब्राउज़र को बंद
                    करने के बाद, कुकी गायब हो जाती है।
                </p>
                <h5>यदि आप हमें व्यक्तिगत जानकारी भेजते हैं</h5>
                <p>
                    हम आपको जवाब देने के अलावा किसी भी उद्देश्य के लिए व्यक्तिगत जानकारी एकत्र नहीं करते हैं (उदाहरण
                    के लिए, आपके सवालों के जवाब देने या आपके द्वारा चुने गए सदस्यता प्रदान करने के लिए)। यदि आप हमें
                    व्यक्तिगत जानकारी प्रदान करना पसंद करते हैं- जैसे हमसे संपर्क करना, ई-मेल पते या डाक पते के साथ,
                    और वेबसाइट के माध्यम से हमें इसे सबमिट करना - हम उस जानकारी का उपयोग आपके संदेश का जवाब देने के
                    लिए, और मदद करने के लिए करते हैं आपके द्वारा अनुरोधित जानकारी आपको मिल जाएगी। यदि आपका प्रश्न उस
                    एजेंसी से संबंधित है, या अन्यथा कानून द्वारा आवश्यक है, तो हम केवल आपके द्वारा दी गई जानकारी को
                    किसी अन्य सरकारी एजेंसी के साथ साझा करते हैं।
                </p>
                <p>
                    हमारी वेबसाइट कभी भी जानकारी एकत्र नहीं करती है या वाणिज्यिक विपणन के लिए व्यक्तिगत प्रोफाइल नहीं
                    बनाती है। जब आप हमें आने वाले किसी भी प्रश्न या टिप्पणियों के लिए स्थानीयकृत प्रतिक्रिया के लिए
                    एक ई-मेल पता प्रदान करते हैं, तो हम अनुशंसा करते हैं कि आप किसी अन्य व्यक्तिगत जानकारी को शामिल
                    न करें।
                </p>
                <h5>साइट सुरक्षा</h5>
                <p>
                    साइट सुरक्षा उद्देश्यों के लिए और यह सुनिश्चित करने के लिए कि यह सेवा सभी उपयोगकर्ताओं के लिए
                    उपलब्ध है, सरकारी कंप्यूटर सिस्टम नेटवर्क ट्रैफिक की निगरानी के लिए वाणिज्यिक सॉफ्टवेयर
                    प्रोग्रामों को नियुक्त करता है ताकि सूचनाओं को अपलोड करने या बदलने के लिए अनधिकृत प्रयासों की
                    पहचान की जा सके या अन्यथा नुकसान का कारण बन सके।
                </p>
                <p>
                    प्राधिकृत कानून प्रवर्तन जांच को छोड़कर, कोई अन्य प्रयास व्यक्तिगत उपयोगकर्ताओं या उनके उपयोग की
                    आदतों की पहचान करने के लिए नहीं किए जाते हैं। कच्चे डेटा लॉग का उपयोग किसी अन्य उद्देश्य के लिए
                    किया जाता है और नियमित विलोपन के लिए निर्धारित किया जाता है।
                </p>
                <p>
                    इस सेवा पर जानकारी अपलोड करने या जानकारी बदलने के अनधिकृत प्रयास सख्त वर्जित हैं और भारतीय आईटी
                    अधिनियम के तहत दंडनीय हो सकते हैं।
                </p>


            </div>
        </div>
    </section>

