
@{
    ViewData["Title"] = "HNTermsCondition";
    Layout = "~/Views/Shared/_HindiLayout.cshtml";
}

    <section class="feature_section feature_img">
        <div class="container">
            <h1>नियम एवं शर्तें</h1>
        </div>
    </section>
    <section class="bod_section">
        <div class="container">
            <div class="policies vision_list">
                <p>
                    यह वेबसाइट प्रीव्यू टेक्नोलॉजीज प्राइवेट लिमिटेड द्वारा डिज़ाइन, विकसित और अनुरक्षित है।
                </p>
                <p>यद्यपि इस वेबसाइट पर सामग्री की सटीकता सुनिश्चित करने के लिए सभी प्रयास किए गए हैं, लेकिन इसे कानून के एक बयान के रूप में नहीं माना जाना चाहिए या किसी कानूनी उद्देश्यों के लिए उपयोग नहीं किया जाना चाहिए। किसी भी अस्पष्टता या संदेह के मामले में, उपयोगकर्ताओं को सलाह दी जाती है कि वे विभाग (एस) और / या अन्य स्रोत (ओं) के साथ सत्यापित / जांच करें और उचित पेशेवर सलाह प्राप्त करें।</p>

                <p>किसी भी परिस्थिति में यह विभाग / सेवा प्रदाता किसी भी खर्च, नुकसान या क्षति सहित, बिना किसी सीमा, अप्रत्यक्ष या परिणामी नुकसान या क्षति, या किसी भी व्यय, हानि या क्षति से उत्पन्न नहीं होगा, जो कि उपयोग से उत्पन्न हो, या उपयोग की हानि, डेटा की हानि, इस वेबसाइट के उपयोग के संबंध में या उससे उत्पन्न होने वाली। इन नियमों और शर्तों को भारतीय कानूनों के अनुसार नियंत्रित और नियंत्रित किया जाएगा। इन नियमों और शर्तों के तहत उत्पन्न होने वाला कोई भी विवाद भारत के न्यायालयों के अधिकार क्षेत्र के अधीन होगा।</p>

                <p>यूपी प्रोजेक्ट्स कॉर्पोरेशन लिमिटेड (यूपी सरकार का एक उपक्रम) द्वारा आपके लिए लाई गई सभी सामग्री और जानकारी</p>
                <p>कृपया इस पोर्टल से संबंधित गोपनीयता, कॉपीराइट और हाइपरलिंकिंग नीतियों का अनुसरण करें, यदि आपको कृपया हमसे संपर्क करने में संकोच न हो या हमसे संपर्क करने में संकोच न करें।</p>

                <ul class=" list-unstyled visison_list">
                    <li><a href="/Policy/HNPolicy">गोपनीयता नीति</a></li>
                    <li><a href="/Policy/HNCopyright">कॉपीराइट नीति</a></li>
                    <li><a href="/Policy/HNhyperlink">हाइपरलिंकिंग नीति</a></li>
                </ul>

            </div>
        </div>
    </section>
