
@{
    ViewData["Title"] = "hyperlink";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
    <section class="feature_section feature_img">
        <div class="container">
            <h1>Hyperlinking Policy</h1>
        </div>
    </section>
    <section class="bod_section">
        <div class="container">
            <div class="policies vision_list">
                <p>
                    Prior permission is required before Hyperlinks are directed from any website to this site. Permission for the same, stating the nature of the content on the pages from where the link has to be given and the exact language of the Hyperlink should be obtained by sending a request at <a href="mailto:info@upprojects.org">info@upprojects.org</a>
                </p>

                <p></p>

            </div>
        </div>
    </section>

