
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="row" style="margin-top:72px; margin-bottom:50px;">
    <div class="col-sm-12" align="center">
        <span style="color: red; font-size: 21px;">
            You are trying to invalid request. Access Denied!
        </span>
    </div>

</div>

