@using UPProjects.Models
@model UPProjects.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Change Password</h4>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <span style="font-size: 25px; ">Password:</span>&nbsp;&nbsp;&nbsp;
                        <span id="strongPassword" style="        font-size: 25px;
        color: #e40625;
"></span>

                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <span style="        font-size: 13px;
        color: #17100f;">
                            * if you want to set this password as New Password, click on OK Button. Before the click on OK button, Please write down this password.
                            <br />
                            * if you want to set own password as New Password, click on Cancel Button and proceed.

                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="#" onclick="SetStrongPassword()">OK</a>
                <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel" />

            </div>
        </div>
    </div>
</div>

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <form class="forms-sample" method="post" asp-action="ChangePassword" enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST"
                          data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                          data-ajax-failure="onFailed" data-ajax-success="onSuccess">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input asp-for="CurrentPassword" id="CurrentPassword" class="form-control" autocomplete="off" />
                            <span asp-validation-for="CurrentPassword" autocomplete="off" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" id="NewPassword" class="form-control" autocomplete="off" />
                            <span asp-validation-for="NewPassword" autocomplete="off" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" id="ConfirmPassword" class="form-control" autocomplete="off" />
                            <span asp-validation-for="ConfirmPassword" autocomplete="off" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div>
                        <h4>Password Policy</h4>
                        <div>
                            <ul>
                                <li>
                                    <span class="policy"> Minimum: 8 characters, Maximum: 15 characters</span>
                                    <img id="img1_w" src="~/images/cross.png" />
                                    <img style="display:none" id="img1_r" src="~/images/tick.png" />



                                </li>
                                <li>
                                    <span class="policy">
                                        At least one lowercase letter (a-z)
                                    </span>    <img id="img2_w" src="~/images/cross.png" />
                                    <img style="display:none" id="img2_r" src="~/images/tick.png" />
                                </li>
                                <li>
                                    <span class="policy">
                                        At least one capital letter (A-Z)
                                    </span>  <img id="img3_w" src="~/images/cross.png" />
                                    <img style="display:none" id="img3_r" src="~/images/tick.png" />
                                </li>
                                <li>
                                    <span class="policy">
                                        At least one number (0-9)
                                    </span> <img id="img4_w" src="~/images/cross.png" />
                                    <img style="display:none" id="img4_r" src="~/images/tick.png" />
                                </li>
                                <li>
                                    <span class="policy">
                                        At least one alpha numeric character (! @@ # $% ^ & *)
                                    </span>  <img id="img5_w" src="~/images/cross.png" />
                                    <img style="display:none" id="img5_r" src="~/images/tick.png" />
                                </li>

                            </ul>

                        </div>

                    </div>
                    <div id="divHacked" style="display:none;">
                        <div class="col-sm-12">

                            <span id="spnStrength" style="font-size:large; font-weight:bold;" class="text-danger"></span>
                            <img id="imgStrength" style="height:75px; width:75px;" src="~/images/hacker_gif.gif" />
                        </div>
                        <div class="col-sm-12">

                            <a href="#" style=" font-size: 18px;        color: #2009da;"
                               onclick="GenerateStrongPassword()">Click here to generate a strong Password.</a>
                        </div>

                    </div>
                </div>
            </div>
            
            
            
            <br />
           
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/cv.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".calender").datepicker(
                {
                    dateFormat: 'dd/mm/yy'
                });


        });
    </script>
    <script type="text/javascript">
         function GenerateStrongPassword() {
            $('#loader').css("display","block");
                  $.get('@Url.Action("GenerateRandomPassword", "Account")', {

                  }, function (data) {

                          debugger;
                          if (data !== "" && data !== null) {
                              $('#strongPassword').html(data);
                              $('#ModalCenter').modal('show');

                          }
                          $('#loader').css("display", "none");
                  })
                      .done(function (result) {
                          $('#loader').css("display", "none");

                 })
                .fail(function (data) {
                    $('#loader').css("display", "none");

                 });
        }
        function SetStrongPassword() {
            if ($('#CurrentPassword').val().trim() === "") {
                $('#ModalCenter').modal('hide');
                alert("Please enter current password.");
            }
            else {
                $('#NewPassword').val($('#strongPassword').text());
                $('#ConfirmPassword').val($('#strongPassword').text());
                $('#ModalCenter').modal('hide');
                $("#btnSubmit").trigger("click");
            }
        }
        var onBegin = function () {
              if (!confirm("Are you sure to change your password!")) {
               return false;
            }
           $('#loader').css("display", "block");
        };
        var onComplete = function (result) {
            $('#loader').css("display", "none");

        };
        var onSuccess = function (Response) {
            debugger;
            alert(Response.dynamicResult.innerresult.ResultMessage);

            if (Response.dynamicResult.innerresult.ResultStatus == 't') {
                $('#CurrentPassword').val('');
                $('#ConfirmPassword').val('');
                $('#NewPassword').val('');
                  $.get('@Url.Action("Logout","Account")', {

                  }, function (data) {

                  })
                      .done(function (result) {
                          debugger
                          window.location.href = '/Account/Index';
                 })
                .fail(function (data) {
                      debugger
                          var res = data;
                 });

            }


        };
        var onFailed = function () {
              $('#loader').css("display", "none");
        };

    </script>

}
