
@{
    ViewData["Title"] = "ListContractorsRenewal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS{
    <style type="text/css">

        .modal-dialog {
            max-width: 85%;
            margin: 30px auto;
        }

        .lblpopup {
            font-weight: bold;
            font-size: 14px;
            color: #2e2751;
        }

        p, a:not([href]):not([tabindex]) {
            color: #a50026;
        }
    </style>

}
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">List Of Renewal Contractors</h4>
            <div style="float: right;">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered " id="tblData">
                        <thead class="thead-light">
                            <tr>
                                <th> # </th>
                                <th>ठेकेदार का नाम/फर्म का नाम</th>
                                <th>मोबाइल</th>
                                <th>दिनांक</th>
                                <th class="not-export-column">डाउनलोड</th>
                                <th class="not-export-column">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script type="text/javascript">
        $(document).ready(function () {
            BindTable();
    });
    function BindTable() {
        $.get('@Url.Action("GetListOfRenewalContractors","Contractor")', {
        }, function (data) {
            try {
                BindDataTable(data);
            }
            catch (err) {
            }
        })
            .done(function (data) {
            })
            .fail(function (data) {
            });
        }
 function BindDataTable(data) {
            if (data.length > 0) {
                $("#tblData").DataTable({
                    data: data,
                      dom:'Bfrtip',
          buttons: [
            {
                extend: 'print',
                  title: 'Contractors Renewal List',
                 exportOptions: {
                   columns: ":not(.not-export-column)"
                }
            },
            {
                extend: 'excel',
                title: 'Contractors Renewal List',
                 exportOptions: {
                   columns: ":not(.not-export-column)"
                }
            }
            ],
                    "oLanguage": {
                        "emptyTable": "No record exist."
                    },

                   "searching": true,
                    "paging": true,
                    "lengthMenu": [[-1, 100, 50, 10], ["All", 100, 50, 10]],
                    columns: [
                        {
                            'data': null,
                            'render': function (data, type, fill, meta) {
                                return meta.row + 1;
                            }
                        },

                        { "data": "FirmName" },
                        { "data": "Mobile" },
                        { "data": "CreatedOn" },
                        { "data": "ViewButton" },
                        { "data": "RemoveButton" },

                    ],
                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                        $("td:nth-child(1)", nRow).html(nRow._DT_RowIndex + 1);
                        return nRow;
                    },
                    responsive: true,
                    "bDestroy": true
                });
            }
            else {
                $("#tblData").DataTable({
                    data: null               ,
                    "oLanguage": {
                        "emptyTable": "No record exist."
                    }
                });
            }
        }
        function Remove(Id) {
            var status = confirm("Are you sure you want to remove?");
            if (status == true) {
                $.get('@Url.Action("RemoveContractorRenewal", "Contractor")', {
                    ID: Id
                }, function (data) {
                    alert(data);
                    window.location.href = "/Contractor/ListContractorsRenewal";

    })
        .done(function (data) {
        })
        .fail(function (data) {
        });
            }
        }

</script>
}